/* animation nouveaux sujets dans la liste des sujets */
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* si l'écran fait + de 1800px de largeur */
@media only screen and (min-width: 1600px) {
  #page-header {padding: 5%!important;}
  .staff_m:not(:first-of-type) .staff_title{margin-right:120px!important;}}

@media only screen and (min-height: 1000px) {
  .pa_dailynews article{height:130px!important;min-width:25%!important;}
  .pa_dailynews{margin:40px!important;}
  #site-title{font-size:5em!important;}
  .foversion{right:400px!important;}}
