/* animation bodyAnim */
@property --k0 {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;}
@keyframes k0 { from { --k0: 0 } to { --k0: 1 } }
@keyframes blink {50% {border-color: transparent}}

/* animation nouveaux sujets dans la liste des sujets */
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* si l'écran fait - de 1300px de largeur */
@media only screen and (max-width: 1300px) {
  /*#pa_staff{flex-wrap:wrap;width:100%;
    .staff_m{flex:1!important;}
    .staff_title{writing-mode:initial!important;transform:rotate(0deg)!important;align-items:end!important;}
    .staff_m:first-of-type, .staff_m .staff_title *:not(span), .staff_mc{display:none!important;}
           }*/
  #header h1{font-size:40px!important;}
  #header c5{font-size:14px!important;}
}
/* si l'écran fait + de 1100px de largeur */
@media only screen and (min-width: 1100px) {
  .updates .article_inner{grid-template: auto / auto auto!important; i.cp{display:block!important;} .bodyAnim{display:none!important;font-size: 3.5em;} .mdm:before{font-size: 3.5em!important;}}
  .staff_m:hover{background-position:center;}
  .staff_m:first-of-type{width:;span{writing-mode:vertical-lr!important;transform:rotate(-180deg)!important;}}
  .staff_m:not(:first-of-type) {flex:1; .staff_title{align-content: flex-end;; span, t1{display:block!important;}}}}
/* si l'écran fait + de 1800px de largeur */
@media only screen and (min-width: 1800px) {
  .staff_m{font{display:block!important;order:-1;}}
  .staff_m .staff_title{writing-mode:vertical-lr!important;transform:rotate(-180deg)!important;}
  .update_name{display:inline!important;}
  .iconminipa{font-size: var(--large-size)!important;}}
/* si la div .modals fait - de 600px d'hauteur */
@container header-header (max-height:600px){#ph_context .modal_content{max-height:10em!important;} #ph_dailynews .modal_content{max-height:15em;}}
