/* animation bodyAnim */
@property --k0 {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;}
@keyframes k0 { from { --k0: 0 } to { --k0: 1 } }
@keyframes blink {50% {border-color: transparent}}

/* animation nouveaux sujets dans la liste des sujets */
@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* si l'écran fait - de 1300px de largeur */
@media only screen and (max-width: 1300px) {
  #header h1{font-size:40px!important;}
  #header c5{font-size:14px!important;}
}
/* si l'écran fait + de 1100px de largeur */
@media only screen and (min-width: 1100px) {
  .updates .article_inner{grid-template: auto / auto auto!important; i.cp{display:block!important;} .bodyAnim{display:none!important;font-size: 3.5em;} .mdm:before{font-size: 3.5em!important;}}
}
/* si l'écran fait + de 1800px de largeur */
@media only screen and (min-width: 1800px) {
  .update_name{display:inline!important;}
  .iconminipa{font-size: var(--large-size)!important;}
  .staff_m:not(:first-of-type) .staff_title{display:inline-flex!important;background:transparent!important;mix-blend-mode:exclusion!important;}}
/* si la div .modals fait - de 600px d'hauteur */
@container header-header (max-height:600px){#ph_context .modal_content{max-height:10em!important;} #ph_dailynews .modal_content{max-height:15em!important;}}
