.ego {--cogroupe: var(--group1);}
.savior {--cogroupe: var(--group2);}
.messy {--cogroupe: var(--group3);}
/* .profile_content {overflow:visible;} */

.profilaes li br, .profilrps li br, .profilmulti li br {display: none;}
.profilaes li li br, .profilrps li table br, .profilmulti li table br {display: block!important;}
.profilrps li, .profilsms li, .profilmulti li {font-size: 13px!important;text-transform: none;}
.profilrps li:not(:first-of-type), .profilsms li:not(:first-of-type), .profilmulti li:not(:first-of-type) {padding-top: 5px;}
.profilrps li:not(:last-of-type), .profilsms li:not(:last-of-type), .profilmulti li:not(:last-of-type) {border-bottom: 1px solid var(--bw5);padding-bottom: 5px;}

.profilrps table h3, .profilsms h3, .profilmulti h3 {
    display: inline;
    background: var(--transp8);
    padding: 3px 5px;
    border-radius: 5px;
}
.profilrps table h4, .profilmulti table h4 {
    display: inline;
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: 12px;
}

.profilrps table blockquote, .profilsms blockquote, .profilmulti blockquote {
    margin: 0;
    background: var(--transp8);
    border: 1px solid var(--bw3);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    display: none;
    text-align:justify;
    font-size: 11px;
}

.profilrps table h3:hover + blockquote, .profilsms h3:hover + blockquote, .profilmulti h3:hover + blockquote {
    display: block;
    height: fit-content;
    padding: 5px 0;
}

/* RPS */
.profilrps {--cogroupe: var(--textColorAccent);font-size: 13px;
            ul{display:grid;grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
               ul{display:initial;}
               table {display: flex;font-size: 13px;position: relative;
                      td:before {content: '';font-family: 'cappuccicons';font-size: 10px;padding-right: 5px;}
                      font[face="Inter"] {color:var(--cogroupe);}
                     }
               .encours td:before{content:'\ebde';color:var(--couleur1)}
               .fini{opacity:.7;
                     td:before{content:'\eb69';color:var(--couleur2)}
                     h4 a:hover{color:var(--couleur2)}
                    }
              }
           }

/* SMS */
.profilsms{
    ul{display:grid;grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
       ul{display:initial;}
       li{position:relative;
         a{font-size:0}
         a:before{content:'\e9d5';font-family:cappuccicons;font-size:10px;padding-right:5px;color:var(--textColorAccent)}
         a:hover:before{transition:.3s;color:var(--couleur1)}
         }
       }

/* LIENS */
.profilaes {
    --cogroupe: var(--textColorAccent);
    ul{display:grid;grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      ul{display:initial;}}
    
    table {font-size: 12px;}
    h4 {margin: 0;color: var(--cogroupe);}
    ul li:not(:last-of-type) {margin-bottom: 10px;}
    ul ul li {gap: 10px;}      
}

.charaimg {height: fit-content;width: fit-content !important;overflow: hidden;position: relative;padding: 4px;}
.charaimg img {width: 50px;height: 50px;object-fit: cover;}
.charaimg.nopad {padding:0;}
.charaimg.nopad.gradient td:after {margin: 0 !important;width: calc(100% - 5px);height: calc(100% - 5px);top: 2.5px;left: 2.5px;}
.charaimg.border {border: 1px solid var(--cogroupe);border-radius: 5px;}
.charaimg.bw img {filter: grayscale(1);}
.charaimg.rond, .charaimg.rond img, .charaimg.rond.gradient td:after{border-radius: 50%;}
.charaimg.gradient td:after {content: '';position: absolute;top: 0;left: 0;
    margin: 5px;border-radius: 5px; background: linear-gradient(315deg, var(--cogroupe), transparent 75%);
    width: calc(100% - 11px);height: calc(100% - 11px);mix-blend-mode: overlay;
}
.charalien {text-transform: none;text-align: justify;}

/* @container profilaes ((min-width: 360px) and (max-width: 549px)) {
  ul {display:grid;grid-template: auto / 1fr 1fr;gap: 10px;width:180px;}
  ul ul {display:block!important;}
  ul li:not(:last-of-type) {margin-bottom: 0px!important;}
}

@container profilaes (min-width:550px) {
  ul {display:grid;grid-template: auto / 1fr 1fr 1fr;gap: 10px;width:180px;}
  ul ul {display:block!important;}
  ul li:not(:last-of-type) {margin-bottom: 0px!important;}
} */



/* @container profil (min-width: 360px) {
    li {width: 375px;}
}

@container profil (min-width: 550px) {
    ul {column-count: 2;}
} */
    
/* SMS */
/* .profilsms, .profilmulti {
    display: block;
    margin-left: 10px;
    width: calc(100% - 10px)!important;
}

@container profilsms (width > 360px) {
    ul {width: 393px;display: grid; grid-template: auto / 1fr 1fr; column-gap:5px;}
    li:last-of-type {border-bottom: none !important;padding-bottom: 0 !important;}
    li:nth-last-of-type(2) {border-bottom: none !important;padding-bottom: 0 !important;}
    li:not(:first-of-type, :nth-of-type(2)) {padding-top: 5px;}
    li:first-of-type {padding-top: 5px !important;}
} */



.profilmulti table h4 a{color:var(--cogroupe);}

.testmyr {
    .codebox.spoiler {background: transparent;border: none;border-radius: 0;max-height: fit-content;
                      .spoiler_title {background: transparent;color: var(--textColor);font-weight: bold;}
                      .spoiler_title:before {content: '+'; margin-right:5px;}
                      dd {margin: 0;
                          .spoiler_content {padding: 0 !important;}
                         }
                      dt {padding:10px 0;}
                     }
}
