/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/
#page-body{width:90%; max-width:1000px;margin: 0 auto;}
.category {position:relative;margin-bottom:100px;}

/* Titre d'une catégorie */
.cate_title {display:grid;grid-template-columns: 1fr auto;align-items:center;position: relative;z-index: 2;}
.cate_title h2 {display: block;margin: 10px 0 20px;text-align:center;font-family: var(--stfont);font-weight: normal;text-transform: uppercase;font-size: 18px;color: var(--textColorAccent);}
.cate_title h2:before {content:''; display:inline-block; width:14px; margin-right:5px;border-bottom:2px solid var(--textColorAccent);animation: blink .5s step-end infinite alternate;}
.cate_title .cateonglet, .rowonglet, .lastpostonglet {display:none;gap: 10px;color: var(--noirnoir);font-size:11px;}

/* conteneur d'un forum*/
.forum {--padfo:20px;position:relative;padding:var(--padfo);padding-top:0px;margin-bottom: 10px;background: var(--transp5);backdrop-filter: blur(2px);border: 2px solid var(--bw2);display: grid;grid-template: auto / 1fr 200px;gap: 0 20px;align-items: center;}
.forum:last-child {margin-bottom: 0;}

.cat_new:after, .forum_new:after {position: absolute;top:15px;right: -54px;
    background: var(--gradient3), var(--newMsg);background-size: cover;background-blend-mode: multiply;
    -webkit-mask-image: url(https://unravelgraph.github.io/myFiles/comic-speech-bubble.svg);-webkit-mask-size: contain;
    width: 75px;height: 75px;display: grid;place-items: center;
    content: 'NEW';font: bold 1em var(--font); color: black; z-index: 10;padding-top: 5px;}

.mainforumcon {position:relative;grid-column:1/3;display:grid;grid-template-columns:subgrid;}

/* titre d'un forum */
a.forumtitle {
  display: block;
  width: fit-content;
  position: relative;
  left: 115px;
  top: 26px;
  grid-column: 1/3;
  font-size: 1.1em;
  font-family: var(--titlefont2);
  text-transform:uppercase;
  }
a.forumtitle:before { content: "\eb02"; font-size: 15px; font-family: 'cappuccicons';
    -webkit-background-clip: text; margin-right: 8px; color: transparent; background-image: linear-gradient(60deg, var(--gradient));font-weight: bold;}

/*description du forum*/
.forum_desc{display: grid;grid-template: 40px 1fr / auto 1fr;align-items: end;gap: 0 15px;grid-row: 2 / 3;grid-column: 1 / 3;position: relative;
  br{display:none;}
  .desription1 br{display:block;}}
.description1 {overflow: auto;border-radius: 2px;background: var(--transp9);padding: 16px;text-align: justify;border: 1px solid var(--transp3);height: 120px;grid-row: 2/3;}
.imggradient {height: 100%;width: 100px;grid-row: 1/3;border: 2px solid var(--bw2);border-radius: 2px;outline: 1px solid var(--bw4);display: grid;place-items: center;position: relative;overflow: hidden;opacity: .8;}
.imggradient img {width: 100%;height: 100%;object-fit: cover;filter: grayscale(1) brightness(1.1);border-radius: 0;position: relative;}
.imggradient:after {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: block;background: var(--gradientcate);mix-blend-mode: darken;transition: opacity 800ms;}
.forum_stats {font-weight: 600;font-size: var(--little-size);display: grid;justify-items: end;gap: 4px;width: 74px;z-index: 2;position: absolute;left: 17px;bottom: 10px;/*bottom: 10px; left: 17px;*/
  span {background: var(--bw2);border-radius: 10px;padding: 0 5px;text-transform: uppercase;  font-size: 10px;font-weight: bold;}}

/*conteneur avatar du dernier posteur*/
.forum_avatar {width: 50px;height: 50px;}
.forum_avatar img {border: var(--bw2) 1px solid;width: 100%;height: 100%;object-fit: cover;object-position: center;border-radius: 5px;filter:grayscale(1);opacity: .8;}

/* dernier message*/
/*.forum_lastpost:has(.lastpost_link:empty){display:none;}*/
.forum_lastpost {display:flex;gap: 15px;align-items: center;justify-content: end;margin-top: 15px;
  span{text-align: right;text-transform: uppercase;line-height: 120%;font-size: var(--little-size);}
  .lastpost_time{text-transform:lowercase!important;}}

/* liens des sous forums */
#subforum {margin-top: 15px; font-size: 0;display: flex;flex-wrap: wrap;gap: 7px 0;position:relative;}
#subforum:empty {display:none;}
#subforum a {width:fit-content; margin-right: 5px;background: var(--bw2);font-family: var(--stfont);font-size: 13px;text-transform: uppercase;border-radius: 50px;color: var(--textColorAccent);padding: 3px 9px;border: 1px solid var(--transp3);}
#subforum a:before {content: "\eb02";font-size: 11px;font-family: 'cappuccicons';-webkit-background-clip: text;margin-right: 8px;color: transparent;background-image: linear-gradient(60deg, var(--gradient));font-weight: bold;-webkit-transition:.1s ease-in-out;}
#subforum a:hover{filter:contrast(.9);border:1px solid var(--couleur1);transform:scale(1.017)}

/* categories customisées */
#c1_title h2 {text-align:right;}
#c1:before {content: '';width: 100%;height: 120%;display: block;
  background: url('https://images2.imgbox.com/e6/ec/c0YPOkTI_o.png') no-repeat bottom left / contain;
  position: absolute;bottom: 0;left: 0;opacity: .8;}

#c1 {
    .cate_title h2{text-align: right;}
    .forum:first-of-type{grid-row: 1 / 3;height: fit-content;width: 90%;align-self: center;justify-self: end;
        .forum_lastpost, #subforum{display:none;}
        .forum_desc{margin-top: 15px;grid-template-rows: auto;gap: 0;}
        .description1{height:auto;margin-left: 15px;}
        a.forumtitle{left: 0;top: 0;margin-top: 44px;}
        .rowonglet{display:flex;z-index: 2;justify-content: flex-end;position: absolute;right: 7px;top: 7px;}}
    .forum_new:first-of-type:after {left: -39px;top: 26px;}
}

#c2_title h2 {text-align:left;}
#c2:before {content: '';width: 100%;height: 130%;display: block;
  background: url('https://images2.imgbox.com/24/ab/7crBHwAM_o.png') no-repeat bottom right / contain;
  position: absolute;bottom: 0;right: -11%;opacity: .8;}

#c2 {overflow-x: clip;
    .forum:first-of-type{grid-row: 1 / 3; grid-column: 2/3;height: fit-content;width: 90%;align-self: center;justify-self: start;display:grid;grid-template:auto / 1fr auto;
        .forum_desc{margin-top: 15px;grid-template-rows: auto;gap: 0;}
        .description1{height:auto;margin-left: 15px;}
        a.forumtitle{left: 0;top: 0;margin-top: 44px;}
        #subforum{display:grid;gap:4px;}
        .rowonglet{display:flex;z-index: 2;justify-content: flex-end;position: absolute;right: 7px;top: 7px;}}
}

#c1, #c2 {
    .forums{display: grid;grid-template: auto / 1fr 1fr;gap: 10px 20px;}
    .forum:first-of-type:before{content: '';position: absolute;left: 0;top: 0;display: block;width: 100%;height: 24px;background: var(--gradient3);border-bottom: 2px solid var(--bw2);opacity: .9;}
    .forum_lastpost{grid-column: 2/3;}
    #subforum{grid-column: 1/2;grid-row:2/3;margin-top: -50px;}
}
/*
#c1 .cate_title h2{text-align: right;}
#c1 .forums, #c2 .forums{display: grid;grid-template: auto / 1fr 1fr;gap: 10px 20px;}
#c1 .forum:first-of-type{grid-row: 1 / 3;height: fit-content;width: 90%;align-self: center;justify-self: end;
  .forum_lastpost, #subforum{display:none;}
  .forum_desc{margin-top: 15px;grid-template-rows: auto;gap: 0;}
  .description1{height:auto;margin-left: 15px;}
  a.forumtitle{left: 0;top: 0;margin-top: 44px;}
  .rowonglet{display:flex;z-index: 2;justify-content: flex-end;position: absolute;right: 7px;top: 7px;}}
#c1 .forum:first-of-type:before, #c2 .forum:first-of-type:before {content: '';position: absolute;left: 0;top: 0;display: block;width: 100%;height: 24px;background: var(--gradient3);}
#c1 .forum_new:first-of-type:after {left: -39px;top: 26px;}
#c1 #subforum, #c2 #subforum {grid-column: 1/2;grid-row:2/3;}

#c2_title h2 {text-align:left;}
#c2{overflow-x: clip;}
#c2:before {content: '';width: 100%;height: 130%;display: block;
  background: url('https://images2.imgbox.com/6d/b5/CBIp6X1u_o.png') no-repeat bottom right / contain;
  position: absolute;bottom: 0;right: -10%;}
#c2 .forum:first-of-type{grid-row: 1 / 3; grid-column: 2/3;height: fit-content;width: 90%;align-self: center;justify-self: start;display:grid;grid-template:auto / 1fr auto;
  .forum_desc{margin-top: 15px;grid-template-rows: auto;gap: 0;}
  .description1{height:auto;margin-left: 15px;}
  a.forumtitle{left: 0;top: 0;margin-top: 44px;}
  #subforum{display:grid;gap:4px;}
  .rowonglet{display:flex;z-index: 2;justify-content: flex-end;position: absolute;right: 7px;top: 7px;}} */

/* sur BL : #c3, #c7 */
#c3, #c8 {
    .forums {display:grid; grid-template: auto / 1fr 1fr 1fr; gap: 20px;}
    .forum_desc, .forum_stats{display:none;}
    .forum{margin-bottom:0;grid-template: 24px auto / 1fr 200px;row-gap: 20px;}
    .forum:before{content: '';position: absolute;left: 0;top: 0;display: block;width: 100%;height: 24px;background: var(--gradient3);}
    a.forumtitle{left: 0;top: 0;}
    .rowonglet {display:flex;z-index: 2;justify-content: flex-end;position: relative;grid-column: 2/3;right: -13px;}
    .forum_lastpost{grid-column: 1/3;}
}
/*
#c3 .forums, #c8 .forums {display:grid; grid-template: auto / 1fr 1fr 1fr; gap: 20px;}
#c3 .forum_desc, #c3 .forum_stats, #c8 .forum_desc, #c8 .forum_stats{display:none;}
#c3 .forum, #c8 .forum{margin-bottom:0;}
#c3 .forum:before, #c8 .forum:before{content: '';position: absolute;left: 0;top: 0;display: block;width: 100%;height: 24px;background: var(--gradient3);}
#c3 a.forumtitle, #c8 a.forumtitle{left: 0;top: 0;margin-top: 44px;}
#c3 .rowonglet, #c8 .rowonglet {display:flex;z-index: 2;justify-content: flex-end;position: relative;grid-column: 2/3;top: 7px;right: -13px;}
#c3 .forum_lastpost, #c8 .forum_lastpost{grid-column: 1/3;}

*/

/* sur BL : #f47, #c8, #c4, #c5, #c6 */
#c4_title, #c5_title, #c6_title, #c7_title{h2{text-align:left;}}
#c4, #c5, #c6, #c7 {border-radius: 5px;backdrop-filter: blur(2px);background:var(--transp9);
  .forums {padding: 20px;display: grid;gap: 20px;}
  .forum{padding:0;border:none;background: transparent;}
   .mainforumcon{padding:0; border-left:3px solid;border-image:linear-gradient(to bottom, var(--gradient)) 1;}
   a.forumtitle{grid-row:none; margin-left:var(--padfo);z-index:2}
   .forum_desc {grid-column:1/2;padding:20px;padding-right:0;}
   .forum_stats {margin-left:var(--padfo); margin-bottom:var(--padfo);}
   .forum_lastpost{position:relative;grid-column: 2 / 3;grid-row: 2 / 3;display:grid;grid-template-rows:1fr 1fr;gap: 0;width: calc(100% - var(--padfo));margin-top: 0;border: 1px solid var(--transp3);margin: 20px;margin-left: 0;
     .lastpostonglet{display:flex;gap: 5px;z-index: 2;justify-content: flex-end;position: absolute; top:-7px; right:-8px;background: var(--bw2);border: 1px solid var(--transp3);border-radius: 50px;padding: 4px 8px;
       i{background: var(--gradient3);color: transparent;background-clip: text;-webkit-background-clip: text;font-size: 9px;}}
       span{width: 180px;text-align:center;grid-row: 2/3;}
       .forum_avatar{width:100%; height:80px; object-fit:cover;border-radius:0;
           img{width:100%; max-width:none!important;border-radius:0;}}}
    #subforum {position:relative;grid-column: 1 / 3;grid-row: 2/3;background: var(--bw2);margin-top: 0;padding: 14px;
        a{position:relative; z-index:2;}}
    #subforum:before {content: "\ecb5";font-size: 14px;font-family: 'cappuccicons';-webkit-background-clip: text;margin-right: 8px;color: transparent;background-image: linear-gradient(60deg, var(--gradient));font-weight: bold;margin-top:2px;margin-right:10px}
    #subforum:after{content:'';width:100%;height:100%;position:absolute;top:0; left:0;background:var(--gradient3);z-index:1;opacity:0.1;}
    }
#c4:before, #c5:before, #c6:before, #c7:before{content:'';position:absolute;top:-2px;left:-2px;width:100%;height:100%;border-radius: 5px; border: 2px solid transparent;opacity:.3;z-index:-1;
  background: var(--gradient3) border-box; mask:linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);mask-composite: exclude;}

[data-color-scheme="dark"] {#c4, #c5, #c6, #c7 {.forum{background: var(--transp9); backdrop-filter:blur(3px);}}}
/*#c4 .forums, #c5 .forums, #c6 .forums, #c7 .forums {}
#c4 .forum, #c5 .forum, #c6 .forum, #c7 .forum{border: none;margin-bottom: 0;background:transparent;backdrop-filter:blur(0);}
#c4 .forum_desc, #c5 .forum_desc, #c6 .forum_desc, #c7 .forum_desc {grid-column:1/2;padding:20px;}
#c4 #subforum, #c5 #subforum, #c6 #subforum, #c7 #subforum {position:relative;grid-column: 1 / 3;grid-row: 2/3;background: var(--bw2);margin-top: 0;padding: 14px;}
#c4 #subforum:before, #c5 #subforum:before, #c6 #subforum:before, #c4 #subforum:before {content: "\ecb5";font-size: 14px;font-family: 'cappuccicons';-webkit-background-clip: text;margin-right: 8px;color: transparent;background-image: linear-gradient(60deg, var(--gradient));font-weight: bold;margin-top:2px;margin-right:10px}
#c4 #subforum:after, #c5 #subforum:after, #c6 #subforum:after, #c7 #subforum:after{content:'';width:100%;height:100%;position:absolute;top:0; left:0;background:var(--gradient3);z-index:1;opacity:0.1;}
#c4 #subforum a, #c5 #subforum a, #c6 #subforum a, #c7 #subforum a {position:relative; z-index:2;}
#c4 .forum_stats, #c5 .forum_stats, #c6 .forum_stats, #c7 .forum_stats {font-weight: 600;font-size: var(--little-size);display: grid;justify-items: end;gap: 4px;width: 74px;grid-row: 1 / 2;grid-column: 1 / 2;z-index: 2;position: absolute;bottom: calc(10px + var(--padfo));left: calc(17px + var(--padfo));}
#c4 .forum_lastpost, #c5 .forum_lastpost, #c6 .forum_lastpost, #c7 .forum_lastpost {position:relative;grid-column: 2 / 3;grid-row: 2 / 3;display:grid;grid-template-rows:1fr 1fr;gap: 0;width: calc(100% - var(--padfo));margin-top: 0;border: 1px solid var(--transp3);margin: 20px;margin-left: 0;
  .lastpostonglet{display:flex;gap: 5px;z-index: 2;justify-content: flex-end;position: absolute; top:-7px; right:-8px;background: var(--bw2);border: 1px solid var(--transp3);border-radius: 50px;padding: 4px 8px;
    i{background: var(--gradient3);color: transparent;background-clip: text;-webkit-background-clip: text;font-size: 9px;}}
  span{width:200px;text-align:center;grid-row: 2/3;}
  .forum_avatar{width:100%; height:80px; object-fit:cover;border-radius:0;}
  .forum_avatar img{max-width:none!important;border-radius:0;}} */

/*** ------------------------------- ***/
/*** QUI EST EN LIGNE -------------- ***/
.qeel {position:relative;background: var(--transp9);padding:20px;border-radius:5px;backdrop-filter:blur(2px);display: grid;grid-template-columns: auto auto 1fr;gap: 10px 20px;margin-bottom: 10px;}
.qeel:before{content:'';position:absolute;top:0;left:0;width:calc(100% - 2px);height:calc(100% - 2px);border-radius: 5px; border: 2px solid transparent;opacity:.3;z-index:-1;
  background: var(--gradient3) border-box; mask:linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);mask-composite: exclude;}
.qeel h1{grid-column:1/4;text-align: left;font-size: 40px;-webkit-text-stroke-color: var(--bw4);-webkit-text-stroke-width: 0.5px;letter-spacing: 1.5px;margin:0;}
.qeel h2{font-family:var(--titlefont2);text-transform:uppercase;display: flex;gap: 8px;align-items: center;color: var(--textColorInvert);}

/* Dernier inscrit */
#last_user {height: 100%;width: 180px;border-radius: 2px;position:relative;overflow: hidden;display:grid;align-items: baseline;grid-row: 2/4;}
#lastuser_avatar {position:absolute;top:0;left:0;width: 100%;height: 100%;z-index:-1;}
#lastuser_avatar img {width: 100%;height: 100%;object-fit: cover;object-position: center;filter:grayscale(1);transition: 1s ease-in-out;}
#last_user:hover img {filter: grayscale(0);transform: scale(1.1);}
#lastuser_title {background: var(--bw2);width: fit-content; max-width: 70%; padding: 8px 10px; border-bottom-left-radius: 5px; justify-self: end;font: bold 1em var(--stfont);}
#newest_user {background: var(--bw2);width: fit-content;max-width: 70%;align-self: end;padding: 8px 10px; border-top-right-radius: 5px;font: bold 1em var(--font);text-transform: uppercase;}

/* groupes*/
.qeel-groupes {display:flex;flex-direction:column;margin-right: 30px;width: 180px;
  h3{font-size:12px; text-transform:uppercase;}
  h4{font-size: 1.3em;color:var(--textColorAccent);}
  ul{font-size: 10px;column-count: 2;margin-top: 7px;
    li:first-of-type{column-span: all;}
    li{display:flex;align-items: center;}}
  h3, h4{margin:0;}
  .meter{display: flex;background: var(--textColor);height: 12px;}}
.qeel-right {display: grid;grid-template-columns: 1fr 1fr;gap: 15px;}
/*Connectés en ce moment*/
#online_users, #last_connected {height: 130px;overflow: auto;border-top: 1px solid var(--bw5);padding-top: 10px;padding-right: 4px;
    text-transform: lowercase; font-size: 13px;text-align: justify;}
/*ne pas supprimer*/
#online_users br {display: none;}
.credits {font-size: var(--little-size);text-align:right;grid-column: 2/4;border-top: 1px solid var(--bw5); padding-top: 20px;}
