textcit {
    transition: 300ms;
    border-left: 5px solid var(--couleur1);
    display: block;
    padding-left: 11px;
    text-align: justify;
    border-radius: 10px;
    background: var(--bw2);
    padding: 20px;
    outline: 1px solid var(--transp8);
    margin-bottom: 7px;
    line-height: 20px;
    font-size: 14px;
}

.titre2 {
    text-align: left;
    margin-top: 8px;
}

.ttitre2 {
    font-family: var(--titlefont2);
    margin-bottom: -15px;
    font-size: 22px;
    background-image: var(--gradient3);
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

soustitre3 {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: 5px;
    font-family: var(--stfont);
    background: var(--bw2);
    padding: 5px;
    margin-left: -2px;
}
