.newmodels:not(.sujetadmin) {max-width: 692px;}
.newmodels {position:relative;z-index:0;padding:40px;margin:0 auto;text-align:justify;backdrop-filter:blur(2px);
    --gradient3:linear-gradient(45deg, var(--couleur1), var(--couleur2), var(--couleur3));
    --gradient: var(--couleur1), var(--couleur2), var(--couleur3);}
.newmodels:before{content:'';width:100%;height:100%;position:absolute;top:0;left:0;background:var(--gradient3);border:1px solid var(--bw2);opacity:0.06;z-index:-1;}
.newmodels *::-webkit-scrollbar {width: 3px;}
.newmodels *::-webkit-scrollbar-track {background: var(--transp9);}
.newmodels *::-webkit-scrollbar-thumb {background: var(--gradient3)!important;}

.newmodels{
    .titresujet2{display:flex;align-items:center;gap:15px;}
    .ecdsjt{outline-color:var(--bw2);background: var(--transp7);position:relative;}
    .iconsjt{margin:0;float:none;}
    .iconsjt img{object-fit: cover;filter: grayscale(1);border-radius: 10px;height:100%;aspect-ratio:1/1;background-size: cover;transition: 300ms;border: 5px solid var(--bw2);height: 60px;outline: 1px solid var(--bw2);outline-offset: 2px;}
    .titre2{margin:0;margin-top:-8px}
    soustitre3{padding-left:10px;}}

.precisions{background:var(--transp9);border-radius: 0 0 5px 5px;margin-left:100px;position:relative;
    .barre{background:var(--gradient3);display:flex;justify-content:space-between;align-items:center;padding: 5px 10px;color:var(--bw2);
          span, .onglets{display:flex;align-items:center;gap:5px; t1{font-weight:bold;}}}
    .para{padding:20px;}}
.precisions:before{content: '\ecfd';font-family:'cappuccicons';position:absolute;left: -100px;top:calc(50% - 75px);font-size:150px;line-height:100%;z-index:-1;opacity:0.4;background:var(--gradient3);-webkit-background-clip: text;-webkit-text-fill-color: transparent;transform: rotate(354deg);}

/* MODEL PRESA */
.modelepresa {max-width: 695px;display: grid;gap: 10px;padding:0 40px;}
.modelepresa.bw {.presa_imgimg img, .presa_aes img{filter:grayscale(1);}}

.presanav {width: calc(100% - 100px);justify-self: center;display: flex; padding: 5px 0;background: var(--gradient3); color: var(--bw2);
    font: bold 1em var(--font);text-transform: uppercase;border-radius: 0 0 50px 50px;justify-content: space-evenly;
       li {position: relative;z-index: 0; cursor: pointer;}
        a {color: var(--bw2)!important;font-weight: bold;}}

.barre_deux{display:flex;justify-content: space-between;width: calc(100% - 100px);justify-self: center;}
.presa_trigger{position:relative;margin-left:20px;height:100%;
    label{height:inherit;display:grid;place-items:center;background:var(--couleur2);padding: 5px 7px;border-radius: 50px;
    color: var(--bw1);font: 0.7em var(--font1);text-transform: uppercase;}}
.presa_trigger:hover .presa_tw{opacity:1;}
.presa_tw{position:absolute; left:50%;top:20%;width:max-content;opacity: 0;background: var(--transp8);padding: 5px 15px;border: 1px solid var(--bw3);border-radius: 5px;backdrop-filter: blur(5px);max-width: 300px;transition: opacity .5s ease-in-out;}
.presa_fc {margin-right:20px;background: var(--couleur1);padding: 5px 10px;border-radius: 50px;
    color: var(--bw1);font: 0.9em var(--stfont);text-transform: uppercase;display: flex;align-items: center;gap: 5px;}
.presa_fc:before{content:'ft. ';}

.presa_infos_wrapper {margin-top: 60px;position: relative;}
.presa_infos_wrapper:before {content: '';position: absolute;top: -32px;left: 50px;
    width: calc(100% - 75px);height: calc(100% + 63px); background: var(--transp9);border: 1px solid var(--bw2);border-radius: 5px;}
.presa_infos {overflow-y: clip;position: relative;height:240px;
    ul {display: flex;flex-direction:column;height:200%;width:100%;position:absolute;align-items: center;}
    li {height:calc(100% / 2);}
    li:first-of-type{width:100%;/* height: 240px; */display: grid;grid-template-columns: 150px 1fr;gap: 20px;}
    li:last-of-type{width:calc(100% - 100px);padding-left:30px;}
}
li:last-of-type .presa_champs{width: 100%;/* padding-right:30px; */}

#slide1:checked ~ .presa_infos ul {top: 0%;} 
#slide2:checked ~ .presa_infos ul {top: -100%;}
input[name="presacarousel"]{display:none;}
label.presa{position:absolute;right:-10px;top:calc(50% - 28px);background:var(--couleur1);width:20px;aspect-ratio:1/1;border-radius:50%;display:grid;place-items:center;color:var(--bw2);font-weight:bold;z-index:2;cursor:pointer;}
label.presa[for="slide2"]{top:calc(50% + 5px);}

.presa_img {position: relative;aspect-ratio: 5/8;width: 100%;
    .presa_imgimg{width:inherit;height:100%;overflow:clip;border-radius:5px;}
    img {width: 100%; height: 100%;object-fit: cover;transition:transform .5s ease-in-out;}
    img:hover{transform:scale(1.1,1.1);}
    .presa_alias {position: absolute;bottom: 30px;left: -25px;
        background: var(--couleur3); padding: 5px 10px;border-radius: 50px;
        text-align: center;color: var(--bw2);font: bold 1em var(--font);}}
.presa_champs{width:calc(100% - 25px);height: 240px;display:grid;gap:15px;
    .presaname{font:2em var(--titlefont2);margin-top: -12px;}
              i.cp{font-size:0.7em;}
    .para{height:;overflow:auto;}}

.presa_bloc_deux{display:flex;gap:30px;}
.jauges{display:flex;gap:5px;align-items: flex-end;}
.presa_jaugelabel{writing-mode:vertical-lr;font: 1em var(--font1);text-transform:uppercase;letter-spacing:1px;}
.presa_jauge{background:var(--transp9);border:1px solid var(--transp9);height:100%;width:14px;border-radius:50px;display:flex;align-items: flex-end;
    span{background:var(--gradient3);width:inherit;display:block;border-radius:50px;opacity:0.9;}}
.presa_bloc_libre{background:var(--transp9);padding:30px;padding-right:0;height:200px;position:relative;
    .bloc_libre_inner{padding-right:30px;height:inherit;overflow:auto;}}
.presa_rank_groupe{position:absolute; top:-10px; right:30px;display:flex;gap:15px;color:var(--bw2);font-weight:bold;text-transform:uppercase;letter-spacing:-.5px;}
.presa_rank, .presa_groupe{display:grid;place-items:center;border-radius:5px;padding:2px 6px;}
.presa_rank{background:var(--couleur1);}
.presa_groupe{background:var(--couleur2);}

.presa_player{background:var(--transp9);width:calc(100% - 100px);position:relative;left:50px;padding:30px;padding-top:0;border-radius: 5px 5px 0 0;}
.presa_aes{display:flex;align-items: center;justify-content: center;gap:10px;position:relative;top:-25px;
        img{width:50px;aspect-ratio:1/1;object-fit:cover;border:1px solid var(--bw2);}}

/* BALISES */

.balises{display:grid;grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap:20px;}
.balise{border:1px solid var(--bw2);background:var(--transp9);padding:20px;border-radius:5px;}
.balises br{display:none;}
.balises .balise br{display:block;}


/* ANNEXES */
.annexes{.ecdsjt{column-count:2;column-gap:20px;}}

.groupes{display:grid;grid-template: 1fr 1fr / 1fr 1fr;gap:20px;
    br{display:none;}
    * br{display:block;}
    .ecdsjt{height:100%;
        soustitre3{padding-left:3px;}}}

.precisions{background:var(--transp9);border-radius: 0 0 5px 5px;margin-left:100px;position:relative;
    .barre{background:var(--gradient3);display:flex;justify-content:space-between;align-items:center;padding: 5px 10px;color:var(--bw2);
          span, .onglets{display:flex;align-items:center;gap:5px; t1{font-weight:bold;}}}
    .para{padding:20px;}}
.precisions:before{content: '\ecfd';font-family:'cappuccicons';position:absolute;left: -100px;top:calc(50% - 75px);font-size:150px;line-height:100%;z-index:-1;opacity:0.4;background:var(--gradient3);-webkit-background-clip: text;-webkit-text-fill-color: transparent;transform: rotate(354deg);}

.newmodels {
    /* margin: 10px auto; */
    position:relative;
    z-index:0;
    padding:40px;
    text-align:justify;
    backdrop-filter:blur(2px);
    --gradient3:linear-gradient(45deg, var(--couleur1), var(--couleur2), var(--couleur3));
    --gradient: var(--couleur1), var(--couleur2), var(--couleur3);
    }
.newmodels:before{content:'';width:100%;height:100%;position:absolute;top:0;left:0;background:var(--gradient3);border:1px solid var(--bw2);opacity:0.06;z-index:-1;}

.newmodels{
    .titresujet2{display:flex;align-items:center;gap:15px;}
    .ecdsjt{outline-color:var(--bw2);background: var(--transp7);position:relative;}
    .iconsjt{margin:0;float:none;}
    .iconsjt img{object-fit: cover;filter: grayscale(1);border-radius: 10px;height:100%;aspect-ratio:1/1;background-size: cover;transition: 300ms;border: 5px solid var(--bw2);height: 60px;outline: 1px solid var(--bw2);outline-offset: 2px;}
    .titre2{margin:0;margin-top:-8px}
    soustitre3{padding-left:10px;}}

.annexes{.ecdsjt{column-count:2;column-gap:20px;}}

.groupes{display:grid;grid-template: 1fr 1fr / 1fr 1fr;gap:20px;
    br{display:none;}
    * br{display:block;}
    .ecdsjt{height:100%;
        soustitre3{padding-left:3px;}}}
 
.accomplissementss, .culturehero{margin-left:2px;width:103%;}
.accomplissement, .cultureitem{position:relative; width:286px;height:80px;margin-right:10px; margin-bottom:15px; a{color:var(--textColorAccent);}}
.accomplissement{height:120px;}
.accomplissement:hover, .cultureitem:hover{--transp: 50%;--gradientdeg: -45deg;background: linear-gradient(var(--gradientdeg), color-mix(in srgb, var(--couleur1), transparent var(--transp)), color-mix(in srgb, var(--couleur2), transparent var(--transp)), color-mix(in srgb, var(--couleur3), transparent var(--transp)));border-radius: 5px;padding: 20px;position: relative;transition:all 1s ease-in-out;}
.accomplissement:hover:before, .cultureitem:hover:before {content: '';position: absolute;left: 0;top: 0;margin: 2px;width: calc(100% - 4px);height: calc(100% - 4px);background: var(--transp2);border-radius: 5px;} .accomplissement *, .cultureitem *{position:relative;}
.accomplissement:hover .herolist{display:grid;} 
.herolist, .newmodels:not(:is(.pl_forum)).scroll, .cultureitem .scroll {display:none; position:absolute;top:25px;left:50%;width:max-content;max-width:250px;background:var(--bw2);padding:10px 20px;gap:10px;z-index:2;max-height:205px;overflow-y:auto;overflow-x:clip;} 
.herolist.count{counter-reset:herolist;} .herolist.count u6:after{counter-increment: herolist;content: counter(herolist);} .herolist li{display:flex;align-items:center;justify-content: space-between;gap:10px;}
.cultureitem:hover .scroll{display:block;}
.button-group ul{display:flex; gap:10px; text-transform:uppercase; li{font-family: var(--stfont);font-size: var(--little-size);color: var(--textColorAccent); background: var(--bw2);padding: 6px 26px;margin-bottom:25px; border: 1px solid var(--transp8); border-radius: 2px; text-transform: uppercase;}
li:hover, li.active, li.activetwo{color: var(--bw2);background: var(--gradient3);}}
.itemtype{position:absolute; top:-5px; right:20px;display:flex;gap:15px;border-radius:2px;color:var(--bw2);font-size:11px;font-weight:bold;text-transform:uppercase;letter-spacing:-.5px;padding: 0 4px}
.accomplissementss .itemtype{background:var(--couleur2);}
.culturehero .itemtype{background:var(--couleur1);}
.itemimg{float:left;width:50px;aspect-ratio:1/1;border-radius:5px;border:2px solid var(--bw2);outline:1px solid var(--bw2);outline-offset:2px;margin-top:2px; margin-right:10px; img{width:100%;height:100%;object-fit:cover;aspect-ratio:1/1;border-radius:5px;}}

/* MODEL PRESA */
.modelepresa {max-width: 695px;display: grid;gap: 10px;padding:0 40px;}
.modelepresa.hero {.presasearch:after {content: 'know more about this hero...'}}
.modelepresa.citizen {.presasearch:after {content: 'know more about this citizen...'}}
.modelepresa.villain {.presasearch:after {content: 'know more about this villain...'}}
.modelepresa.bw {.presa_imgimg img, .presa_aes img{filter:grayscale(1);}}

.presanav {width: calc(100% - 100px);justify-self: center;display: flex; padding: 5px 0;background: var(--gradient3); color: var(--bw2);
    font: bold 1em var(--font);text-transform: uppercase;border-radius: 0 0 50px 50px;justify-content: space-evenly;
       li {position: relative;z-index: 0; cursor: pointer;}
        a {color: var(--bw2)!important;font-weight: bold;}}

.barre_deux{display:flex;justify-content: space-between;width: calc(100% - 100px);justify-self: center;}
.presa_trigger{position:relative;margin-left:20px;height:100%;
    label{height:inherit;display:grid;place-items:center;background:var(--couleur2);padding: 5px 7px;border-radius: 50px;
    color: var(--bw1);font: 0.7em var(--font1);text-transform: uppercase;}}
.presa_trigger:hover .presa_tw{opacity:1;}
.presa_tw{position:absolute; left:50%;top:20%;width:max-content;opacity: 0;background: var(--transp8);padding: 5px 15px;border: 1px solid var(--bw3);border-radius: 5px;backdrop-filter: blur(5px);max-width: 300px;transition: opacity .5s ease-in-out;}
.presasearch {margin-right:20px;background: var(--couleur1);padding: 5px 10px;border-radius: 50px;
    color: var(--bw1);font: 0.9em var(--stfont);text-transform: uppercase;display: flex;align-items: center;gap: 5px;
           i.cp{font-size: 0.8em;}}

.presa_infos_wrapper {margin-top: 60px;position: relative;}
.presa_infos_wrapper:before {content: '';position: absolute;top: -32px;left: 50px;
    width: calc(100% - 75px);height: calc(100% + 63px); background: var(--transp9);border: 1px solid var(--bw2);border-radius: 5px;}
.presa_infos {overflow-y: clip;position: relative;height:240px;
    ul {display: flex;flex-direction:column;height:200%;width:100%;position:absolute;align-items: center;}
    li {height:calc(100% / 2);}
    li:first-of-type{width:100%;/* height: 240px; */display: grid;grid-template-columns: 150px 1fr;gap: 20px;}
    li:last-of-type{width:calc(100% - 100px);padding-left:30px;}
}
li:last-of-type .presa_champs {width:100%;}
li:last-of-type .presa_champs .para{width:calc(100% + 25px);padding-right:30px;}

#slide1:checked ~ .presa_infos ul {top: 0%;} 
#slide2:checked ~ .presa_infos ul {top: -100%;}
input[name="presacarousel"]{display:none;}
label.presa{position:absolute;right:-10px;top:calc(50% - 28px);background:var(--couleur1);width:20px;aspect-ratio:1/1;border-radius:50%;display:grid;place-items:center;color:var(--bw2);font-weight:bold;z-index:2;cursor:pointer;}
label.presa[for="slide2"]{top:calc(50% + 5px);}

.presa_img {position: relative;aspect-ratio: 5/8;width: 100%;
    .presa_imgimg{width:inherit;height:100%;overflow:clip;border-radius:5px;}
    img {width: 100%; height: 100%;object-fit: cover;transition:transform .5s ease-in-out;}
    img:hover{transform:scale(1.1,1.1);}
    .presa_alias {position: absolute;bottom: 30px;left: -25px;
        background: var(--couleur3); padding: 5px 10px;border-radius: 50px;
        text-align: center;color: var(--bw2);font: bold 1em var(--font);}}
.presa_champs{width:calc(100% - 25px);height: 240px;display:grid;gap:15px;
    .presaname{font:2em var(--titlefont2);margin-top: -12px;}
              i.cp{font-size:0.7em;}
    .para{height:;overflow:auto;}}

.presa_bloc_deux{display:flex;gap:30px;}
.jauges{display:flex;gap:5px;align-items: flex-end;}
.presa_jaugelabel{writing-mode:vertical-lr;font: 1em var(--font1);text-transform:uppercase;letter-spacing:1px;}
.presa_jauge{background:var(--transp9);border:1px solid var(--transp9);height:100%;width:14px;border-radius:50px;display:flex;align-items: flex-end;
    span{background:var(--gradient3);width:inherit;display:block;border-radius:50px;opacity:0.9;}}
.presa_bloc_libre{background:var(--transp9);padding:30px;padding-right:0;height:200px;position:relative;
    .bloc_libre_inner{padding-right:30px;height:inherit;overflow:auto;}}
.presa_rank_groupe{position:absolute; top:-10px; right:30px;display:flex;gap:15px;color:var(--bw2);font-weight:bold;text-transform:uppercase;letter-spacing:-.5px;}
.presa_rank, .presa_groupe{display:grid;place-items:center;border-radius:5px;padding:2px 6px;}
.presa_rank{background:var(--couleur1);}
.presa_groupe{background:var(--couleur2);}

.presa_player{background:var(--transp9);width:calc(100% - 100px);position:relative;left:50px;padding:30px;padding-top:0;border-radius: 5px 5px 0 0;}
.presa_aes{display:flex;align-items: center;justify-content: center;gap:10px;position:relative;top:-25px;
        img{width:50px;aspect-ratio:1/1;object-fit:cover;border:1px solid var(--bw2);}}

/* BALISES */

.balises{display:grid;grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap:20px;}
.balise{border:1px solid var(--bw2);background:var(--transp9);padding:20px;border-radius:5px;}
.balises br{display:none;}
.balises .balise br{display:block;}

/* chronologie */
.timeline{display:grid;grid-template: auto / 1fr auto 1fr; gap:20px;position:relative;
    .middle{grid-row:span 44;grid-column: 2/3;height:100%;width:2px;background:var(--transp7);position:absolute;}
    .ecdsjt{grid-column: 1/4;width:calc(50% - 30px);display:flex;}
    .ecdsjt div:before, .ecdsjt div:after{content:'';position:absolute;}
    .ecdsjt div:before{top:calc(50% - 2px);width:30px;height:2px;background:var(--transp7);}
    .ecdsjt div:after{top:calc(50% - 8px);width:12px;height:12px;border-radius:50%; background:var(--transp7);}
    .ecdsjt:nth-of-type(even){justify-self:end;}
    .ecdsjt:nth-of-type(even) div:before{left:-30px;}
    .ecdsjt:nth-of-type(odd) div:before{right:-30px;}
    .ecdsjt:nth-of-type(even) div:after{left:-35px;}
    .ecdsjt:nth-of-type(odd) div:after{right:-37px;}
    .ecdsjt:not(:nth-of-type(2)){margin-top:-40px;}}

/* gestion */
.ecdsjt.deleted{display:grid;grid-template-columns:repeat(3,1fr);
    datum{width:fit-content;justify-self: end;text-align:right;}
    t5{font-size:13px;}}


/* tierlist */
header.filtress {margin-bottom: 40px;}
.filters ul {display: grid;grid-template: auto / 1fr 1fr;text-transform: lowercase;gap: 0 40px;}
.filters ul:not([data-filter-group="class"]) li:nth-child(n+3) {grid-column: 1/3;}
.filters li {list-style: none;}
li a.selected {background: var(--gradient3);color: transparent;background-clip: text;
    -webkit-background-clip: text;font-style: italic;font-weight: bold;}
#sort-by a {color: var(--noirblanc1);font-family: var(--font1);}
#sort-by {display: grid;
   grid-template: auto / 50px .9fr .7fr 1.5fr .9fr;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 20px;
    padding:15px 10px;
    width: 100%;
    color:var(--textColorAccent);
    background: var(--gradient3);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    outline:none!important;}

.allcards br {display: none;}
.allcards {display:grid;grid-template: auto / 50px .9fr .7fr 1.5fr .9fr;gap:20px;}
.card {
    display: grid;
       grid-template: auto / 50px .9fr .7fr 1.5fr .9fr;
    align-items: center;
    padding:15px 10px;
    gap:0 20px;
    text-align: left;
    width: 100%;
    height:auto;
    color:var(--textColorAccent);
    background: var(--transp7);
    border-radius: 5px;
    border: 1px solid var(--transp8);
    outline:1px solid var(--bw2);
    outline-offset:2px;
    text-transform: uppercase;
    transition: 300ms;
    font-size: 12px;
    position:relative;
    margin-bottom:20px;
}
.card:hover{background: var(--transp5);transition:background .5s ease-in-out;}
.card:hover:before{content:'';position:absolute;top:-2px;left:-2px;background:linear-gradient(to left, var(--listrankco), var(--listgrpco));width:calc(100% + 4px);height:calc(100% + 4px);opacity:0.5;border-radius:5px;z-index:-1;transition:all .5s ease-in-out;}

.card.ten{--listrankco: var(--ten);}
.card.s{--listrankco: var(--s-class);}
.card.a{--listrankco: var(--a-class);}
.card.b{--listrankco: var(--b-class);}
.card.c{--listrankco: var(--c-class);}
.card.t{--listrankco: var(--t-class);}
.card.x{--listrankco: var(--x-class);}
.card.v{--listrankco: var(--v-class);}
.card.h{--listrankco: var(--h-class);}
.card.messy{--listgrpco: var(--group3);}
.card.savior{--listgrpco: var(--group2);}
.card.ego{--listgrpco:var(--group1);}

persoclass{text-align:center;}
/*persoclass {display:grid;place-items:center;width:100%;height:100%;text-align:center;background:var(--transp9);border-radius:5px;padding:5px;}*/
.card persoclass:before {font: bold 12px var(--font);text-transform: uppercase;margin-left:-10px}
.card.ten persoclass:before {content: 'ten';}
.card.s persoclass:before {content: 's';}
.card.a persoclass:before {content: 'a';}
.card.b persoclass:before {content: 'b';}
.card.c persoclass:before {content: 'c';}
.card.t persoclass:before {content: 't';}
.card.x persoclass:before {content: 'x';}
.card.v persoclass:before {content: 'v';}
.card.h persoclass:before {content: 'h';}
.card.resa persoclass, .card.pnj persoclass {opacity: 1;}

.personame, .personame a {font-weight: 700;letter-spacing: -.5; background:linear-gradient(45deg, color-mix(in srgb, var(--listrankco) 75%, white), color-mix(in srgb, var(--listgrpco) 75%, white));color: transparent;-webkit-background-clip: text;
                         transition:color .5s ease-in-out;}
.card:hover .personame, .card:hover .personame a {color:var(--listgrpco);}

alias{font:1.1em var(--stfont);text-transform:uppercase;}
player {width: fit-content;text-transform: uppercase;font-size: 11px;border-radius: 2px;border: 1px solid var(--transp3); font-family: var(--font2);
    padding: 2px 9px;letter-spacing: 1px;}
fc {font-weight: 700;border-bottom: 2px solid; border-image: linear-gradient(to left, color-mix(in srgb, var(--listrankco) 75%, white), color-mix(in srgb, var(--listgrpco) 75%, white)) 1;width: fit-content;}
.pnj .personame {background:var(--gradient3);color: transparent;-webkit-background-clip: text;font-weight:bold;}
.resa{--listgrpco:var(--couleur1);--listrankco:var(--couleur1); height:49px;}
.resa:hover:before {display:none;}
.resa .personame {font-weight: bold;}
.resa fc {background: none;font-weight: bold;}
.resa player {color: var(--textColorAccent);font-weight: 500;}

/* PRÉ LIENS */
.newmodels:is(.pl_forum) {.ecdsjt .para{flex-basis:100%;min-height:100%;} .scroll {max-height: 120px;overflow: auto;padding-right: 10px;}}
.pl_title{c5{display:flex;gap:15px;align-items:baseline;font-size:22px; line-height:100%;text-transform: uppercase;margin-bottom:-15px;} y{font-size:inherit;} .soustit {font: 900 1.05em var(--font3);letter-spacing: 5px;}}
.ecdsjt:has(.iconcluster.pl_forum) {--iconwidth:90px; margin-right:var(--iconwidth);}
.pl_forum .iconcluster{width:fit-content;height:fit-content;position:relative;margin-right:calc(var(--iconwidth) * -1 - 32px); .icondia{width:var(--iconwidth);}}
.iconcluster{display:grid;grid-template: repeat(3, 1fr) / 1fr 1fr;gap:0 calc(var(--iconwidth) / 10 * 2);border-radius:0;float:right;shape-outside:polygon(45% calc(var(--iconwidth) / 2), 100% 50%, 50% calc(100% - var(--iconwidth) / 2), 0% 50%);margin-left:20px;margin-top: calc(var(--iconwidth) / 10 * -2);}
.icondia{width:var(--iconwidth);clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);background: var(--gradient3);aspect-ratio:1/1; padding: 1px; display: grid;place-items: center;} 
    .icondia:before{clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); width: 100%; height: 100%; background: var(--bw2); display: grid; place-items: center;}
    .icondia img{width:105%;height:105%;aspect-ratio:1/1;object-fit:cover;border-radius:0;filter:grayscale(1)}
    .icondia:first-of-type, .icondia:last-of-type{grid-column: 1/3;justify-self:center;}
    .icondia:first-of-type{position:relative;bottom:calc(var(--iconwidth) / 10 * -4);}
    .icondia:last-of-type{position:relative;top:calc(var(--iconwidth) / 10 * -4);}

.effectifs{display:grid;gap:15px;grid-template: 1fr / 1fr 1fr;}
.short .para, .pl_forum .top, .carnetdebord .top{display:flex;gap:10px;align-items:center;width:100%;}
.newmodels:is(.pl_forum) .long .para {height: fit-content;}
.newmodels:is(.carnetdebord) .scroll{max-height: 120px;overflow: auto;padding-right: 10px;}
.membername a, .membername{font:1.1em var(--titlefont2);text-transform:lowercase;}
.pl_forum .precisions .para{max-height:150px;overflow-y:auto;}

