header.filtress {margin-bottom:40px;}
.filters ul {display:grid;grid-template: auto / 1fr 1fr;text-transform:lowercase;gap:0 40px;}
.filters ul:not([data-filter-group="class"]) li:nth-child(n+3){grid-column:1/3;}
.filters li {list-style: none;}
li a.selected {background: var(--gradient3);color: transparent;background-clip: text; -webkit-background-clip: text;font-style:italic;font-weight:bold;}
#sort-by a{color: var(--noirblanc1);font-family: var(--font1);}

.allcards .card:hover {filter: contrast(0.9);}
.card {display:grid;grid-template: auto / 40px 1fr .7fr 1.5fr .7fr; align-items:center; gap:0 20px; margin-bottom:20px;padding: 10px 20px; text-align:left;width:100%; background: var(--bw2); border-radius: 5px; border: 1px solid var(--transp8);border-left:3px solid var(--transp8);text-transform:uppercase;transition: 300ms;font-size: 12px;}
.card persoclass{text-align: center; background: var(--bw4); text-transform: uppercase; font-size: 8px; padding: 2px 0; border-radius: 5px; letter-spacing: 1px; color: var(--textColorAccent)}
.card.resa persoclass, .card.pnj persoclass{opacity:0;}
.card persoclass:before {font: bold 12px var(--font1);text-transform: uppercase;}
.card.ten persoclass:before {content:'ten';}
.card.s persoclass:before {content:'s';}
.card.a persoclass:before {content:'a';}
.card.b persoclass:before {content:'b';}
.card.c persoclass:before {content:'c';}
.card.t persoclass:before {content:'t';}
.card.x persoclass:before {content:'x';}
.card.v persoclass:before {content:'v';}
.card alias {font-family: var(--stfont); font-size: 14px;}
fc{font-weight: bolder; background: var(--gradient3) no-repeat bottom left / 100% 2px; width: fit-content;}
.personame, .mentiontag{font-weight: 700; letter-spacing: -.5; background-image: linear-gradient(60deg, var(--gradient)); color: transparent; -webkit-background-clip: text;}
.personame {font-weight: 700; letter-spacing: -.5; background-image: linear-gradient(60deg, var(--gradient)); color: transparent; -webkit-background-clip: text;}
.card.messy {border-left:3px solid var(--group3);} .card.ego {border-left:3px solid var(--group1);}
.card.savior {border-left:3px solid var(--group2);} .card.messy a:hover {color:var(--group3);}
.card.ego a:hover {color:var(--group1);} .card.savior a:hover {color:var(--group2);}
.allcards br {display:none;}
player{width: fit-content; text-transform: uppercase; font-size: 11px; border-radius: 2px; border: 1px solid var(--transp6); font-family: var(--font2); padding: 0px 9px; letter-spacing: 1px;}
.resa .personame{background-image: none; color: var(--couleur1); font-weight: bold;}
.resa fc{background: none;font-weight: bold;}.resa player{color: var(--textColor); font-weight: 500;}
