.post{--gradient3:linear-gradient(45deg, var(--couleur1), var(--couleur2), var(--couleur3))}
.post_row:not(:last-of-type){margin-bottom: 20px;}
.post_row{background: var(--transp5);border: 5px solid var(--bw2);margin: 20px 0;display: grid;grid-template: min-content min-content 1fr / min-content 1fr;}

.topbar:not(:has(.field-mods i, .field-pouvoir)):before{border-top:none;}
.topbar:not(:has(.field-mods i, .field-pouvoir)){padding-bottom:20px}
.topbar2:not(:has(.field-mods i, .field-pouvoir)){display:none;}
.topbar2 .field-mods{justify-self:end}

.topbar{background: var(--transp9);grid-column: 1/3;grid-row: 1/2;display: grid;grid-template-columns: subgrid;position:relative;font-size: var(--little-size);}
.topbar:before {content: '';width: 100%;position: absolute;left: 0;bottom: 0;height: 30px;display: block;border-top: 1px solid;border-bottom: 1px solid;
                                  border-color: var(--transp3);mask-image: linear-gradient(to left, black 80%, transparent);}
.topbar .profile_tw {grid-column: 2 / 3;grid-row: 2 / 3;position: absolute;z-index: 5;padding-left: 5px;}
.topbar .profile_tw .user_field:not(.field-tw), .field-tw .field_label{display:none;}
.topbar .profile_tw .tw_label{font-family: var(--stfont);text-transform: uppercase;background: var(--bw3);padding: 3px 9px;}
.topbar .profile_tw .field-tw{opacity:0;position:absolute;bottom:25px;left:0;padding: 5px 15px;background: var(--transp8);border: 1px solid var(--bw3);border-radius:5px;backdrop-filter:blur(5px);width: max-content;max-width:500px;transition: opacity .5s ease-in-out;z-index: 1;}
.topbar .profile_tw .tw_label:hover ~ .field-tw{opacity:1;}
.topbar .post_pseudo{font-size: 18px;font-family: var(--titlefont2);text-transform: uppercase;display: flex;justify-content: flex-end;grid-column: 2/3;padding: 17px 20px 0 0;}

.profile_class_alias {display:flex;gap:5px;justify-content: flex-end;align-items: baseline;grid-column: 2/3;padding-right:20px;min-height:10px;}
.profile_class_alias .field-rank{font-size: var(--little-size);text-transform: uppercase;}
.profile_class_alias .field-alias{font-family:var(--stfont);text-transform:uppercase;font-size: 13px;}
.profile_class_alias .user_field.field-rank:before {content: "\00B7";margin-right: 5px;}
.profile_class_alias .user_field:not(.field-alias, .field-rank),.profile_class_alias .field_label {display:none;}

.topbar2{height:50px;display:grid;grid-template-columns: 1fr auto;align-items:center;grid-column: 2/3;position: relative;top: 10px;padding-right: 15px;padding-left: 10px;}
.topbar2 .user_field:not(.field-pouvoir, .field-mods) {display: none;}
.topbar2 .field-mods{order: 1;}
.topbar2 .field-mods .field_label{display:none;}
.topbar2 .field-mods ul{display:flex; gap:10px;}
.topbar2 .field-mods ul li i{clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);background:var(--modrank);width:50px;height:50px;padding:1px;display:grid;place-items:center;}
.topbar2 .field-mods ul li i:before{clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);width:100%;height:100%;background:var(--bw2);display:grid;place-items:center;}
.topbar2 .field-mods ul li:not(:has(i)){display:none;}

.post_date {flex-grow: 100;}
.post_details {grid-column: 2/3;padding: 10px 10px;padding-right: 15px;display: flex;align-items: center; width: 100%;}
.post_details a{color:var(--textColor);font-weight:400;font-size:var(--little-size);text-transform:uppercase}
.post_avatar_cadre{background: linear-gradient(-45deg, color-mix(in srgb, var(--groupecolor) 75%, white), color-mix(in srgb,var(--rankcolor) 75%, white));border-radius: 5px;padding: 7px;/* padding-bottom:1px; */width: 248px;border: 1px solid var(--bw4);}
.post_avatar{position:relative;overflow:hidden;scrollbar-gutter: auto;}
/*.post_avatar a {cursor:default;max-height: 366px;height: 100%;display: block;}
.post_avatar a img {border-radius: 2px;height: 100%;width: 100%;max-height: 366px !important;max-width: 232px !important;border: 5px solid var(--bw2);object-fit: cover;max-width:none!important;width:100%;}*/
.post_avatar img {cursor:default;max-height: 366px;height: 100%;display: block; border-radius: 2px;height: 100%;width: 100%;max-height: 366px !important;max-width: 232px !important;border: 5px solid var(--bw2);object-fit: cover;max-width:none!important;width:100%;}
.post:not(:has(.carnetdebord)) .post_avatar, .navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:has(.phbody) .post_avatar {height: fit-content;}

.avatarhoverprofil{position: absolute;top: 0;left: 0;background: var(--transp5);width: 100%;height: 100%;backdrop-filter: blur(3px) grayscale(100%);transition: transform .5s ease-in-out;padding: 13px;transform: translateX(250px);display:flex;flex-direction:column;gap: 10px;font-size: 0.95em;}
.avatarhoverprofil .user_field{background: var(--transp2);border-radius: 2px;padding: 5px;text-align: center;flex-grow: 1;display: grid;align-content: center;}
.avatarhoverprofil .user_field:not(.field-pseudo, .field-faceclaim, .field-credits, .field-gif), .field-gif .field_label{display:none;}
.avatarhoverprofil .field-gif{border-radius: 5px;min-height: 80px;overflow: hidden;background: transparent;padding: 0;border: 7px solid var(--transp2);}
.avatarhoverprofil .field-gif img{width:100%;height:120%;margin-top:-10px;object-fit:cover;border-radius: 2px;border: 0;}

.post_avatar_cadre:hover .avatarhoverprofil{transform: translateX(0px);}
.postbody_msg{margin-bottom:20px;}
.fa_dislike_list,.fa_like_list{margin-top:30px!important;letter-spacing:-.5px;background:var(--bw2);font-family:var(--stfont);border-radius:2px;padding:10px;width:400px!important;font-size:12px;height:auto;margin:0 auto 15px;text-transform:uppercase!important;line-height:12px;text-align:center;outline:1px solid var(--transp6);outline-offset:2px}
.fa_like_others{position:relative;background:transparent;font:bold 12px / 100% var(--stfont);text-transform:uppercase;color:var(--couleur1);letter-spacing:-.5px;}
.fa_like_others:hover .fa_like_tooltip {display: grid;width: max-content;text-align: left;background: var(--bw5);padding: 10px;}
.fa_like_tooltip{display:none;position:absolute;font:12px / 100% var(--stfont);text-transform:uppercase!important;}
ul.profile-icons li a, .post_details .rep-button{transition:.3s;padding:3px 9px;height:20px;font-family:var(--stfont);margin:1px;border-radius:1px;background:var(--bw2);font-size:12px;border:1px solid var(--transp8);}
.post_details .rep-button .rep-nb{margin-left: 5px;font-family: var(--font1);font-size: 11px;}
ul.profile-icons li a:hover{background: var(--gradient3);color: var(--noirnoir);}
ul.profile-icons li:has(a[href=""]) {display: none;}
.user_field .label, .field_label.recompenses {margin-right: 2px;color: color-mix(in srgb, var(--rankcolor) 75%, white);font-weight: bold;font-size: var(--little-size);text-transform: uppercase;}
.post_profile .content img{max-width:220px;opacity: .9;}
.post_row .systab {overflow: hidden; --couleur1: color-mix(in srgb, var(--rankcolor) 75%, white);}
.post_row .systab .tabs{display:grid;grid-template-columns:1fr 1fr;gap:10px;margin: 10px 0;}
.post_row .systab .tabs .tab{font-size:12px;font-family:var(--stfont);color:var(--textColor);text-transform:uppercase;text-align: center;padding:4px 19px;padding-bottom:2px;margin: 0 2px;border-radius: 3px;outline:1px solid var(--transp3);cursor:pointer;background: var(--transp9);}
.post_row .systab .tabs .tab.selected{border-bottom: 3px solid;border-image: linear-gradient(to left, color-mix(in srgb, var(--groupecolor) 75%, white), color-mix(in srgb, var(--rankcolor) 75%, white)) 0 0 1 0;}
.post_row .systab .contents{background:var(--transp9);height:180px;overflow-y:auto !important; overflow-x:clip!important;padding: 10px 15px;font-size: 12px;}
.post_row .systab .contents .datacontent .user_field:not(.field-messages, .field-date-dinscription, .field-aesthetic, .field-multicomptes, .field-wons), .characontent .user_field:not(.field-age, .field-activite, .field-liens, .field-statut, .field-rps, .field-sms){display:none;}
.systab .contents::-webkit-scrollbar {width: 2px;}
.systab .contents::-webkit-scrollbar-track {background:var(--bw4);}
.systab .contents::-webkit-scrollbar-thumb {background:var(--transp3)!important;}  
.field-aesthetic .field_label{display:none;}
.post_profile .profil_contact{display:flex;margin-top:10px;gap:10px;align-items:center;justify-content:center;font-size:var(--medium-size)}
.post_profile .profil_contact *{background-image:linear-gradient(-45deg, color-mix(in srgb, var(--groupecolor) 75%, white), color-mix(in srgb,var(--rankcolor) 75%, white));color: transparent;-webkit-background-clip: text;}

/* SUJET ADMIN */
.post:has(.sujetadmin){display: block;}
.post:has(.sujetadmin) .topbar{grid-template: auto / 20px 1fr;display: none;}
.post:has(.sujetadmin) .topbar2, .post_row:has(.sujetadmin) .topbar:before, .post_row:has(.sujetadmin) .post_profile {display:none;}
.post:has(.sujetadmin) .post_details{padding:0;height:0;opacitY:0;transition: height .1s ease-in-out;transition-behavior:allow-discrete;}
.post:has(.sujetadmin):hover .post_details{height:fit-content;opacity:1;padding: 10px 20px 10px 25px;}
.post:has(.sujetadmin) .postbody_msg{margin-bottom:0;}

/* SUJET DAILYNEWS */
.post:has(.dailynewsarticle){display: block; background:transparent;border:none;}
.post:has(.dailynewsarticle) .topbar{grid-template: auto / 20px 1fr;display: none;}
.post:has(.dailynewsarticle) .topbar2, .post_row:has(.dailynewsarticle) .topbar:before, .post_row:has(.dailynewsarticle) .post_profile, .post_row:has(.dailynewsarticle) .signature_div {display:none;}
.post:has(.dailynewsarticle) .post_details{padding:0;height:0;opacitY:0;transition: height .1s ease-in-out;transition-behavior:allow-discrete;background:var(--transp9);backdrop-filter:blur(5px);}
.post:has(.dailynewsarticle):hover .post_details{height:fit-content;opacity:1;padding: 10px 20px 10px 25px;margin-bottom: 10px;}
.post:has(.dailynewsarticle) .post_message{padding:10px 0;}
.post:has(.dailynewsarticle) .postbody_msg{margin-bottom:0;}
.post:has(.dailynewsarticle) .post_reactions{display:grid;grid-template-columns:1fr 1fr;justify-content: space-between;gap:30px;padding:0 30px 30px 45px;background:var(--bw2); margin-top:-70px;}
.post:has(.dailynewsarticle) .post_reactions:before{content:''; grid-column: 1/3; border-top: 1px solid var(--transp3);width:calc(100% + 15px);margin-left:-15px;}
.post:has(.dailynewsarticle) .post_reactions:has(.fa_like_list:empty + .fa_dislike_list:empty), 
.post:has(.dailynewsarticle) .post_reactions:has(.fa_like_list:empty + .fa_dislike_list:empty):before{display:none;}
.post:has(.dailynewsarticle) .fa_like_list, .post:has(.dailynewsarticle) .fa_dislike_list {position:relative;margin:0!important;outline:none;width:100%!important;text-align:left;background:var(--bw1);padding:20px; padding-left:25px;}
.post:has(.dailynewsarticle) .fa_like_list:before, .post:has(.dailynewsarticle) .fa_dislike_list:before,
.post:has(.dailynewsarticle) .fa_like_list:after, .post:has(.dailynewsarticle) .fa_dislike_list:after{content:'';position:absolute;top:calc(50% - 15px);left:-15px;display:block;width:30px;height:30px;background-size:cover;}
.post:has(.dailynewsarticle) .fa_like_list:after{background-image:url(red-heart_2764-fe0f.png);margin-top:1px;}
.post:has(.dailynewsarticle) .fa_dislike_list:after{background-image:url(loudly-crying-face_1f62d.png);}
.post:has(.dailynewsarticle) .fa_dislike_list{grid-column:2/3;}
.post:has(.dailynewsarticle) .fa_like_list:before, .post:has(.dailynewsarticle) .fa_dislike_list:before{background:var(--bw1);border-radius:50%;padding:5px;margin-top:-5px; margin-left:-5px;}

/* SUJET SMS */
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) {width: 70%;margin: 10px auto;padding: 0;}
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) .post_profile div:not(.post_avatar_cadre, .profil_contact, .post_avatar),
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) .profil_contact,
.post_row:has(.shortprofile) .post_profile div:not(.post_avatar_cadre, .profil_contact, .post_avatar),
.post_row:has(.shortprofile) .profil_contact{display:none}

.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) .post_avatar,
.post_row:has(.shortprofile) .post_avatar{width:80px;min-height: 115px;height:115px;}
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) .post_avatar_cadre,
.post_row:has(.shortprofile) .post_avatar_cadre{padding: 7px;width: calc(80px + 15px);aspect-ratio:1/1;margin: 0 auto;}
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) .profil_contact,
.post_row:has(.shortprofile) .profil_contact{flex-wrap: wrap;}
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) .post_message,
.post_row:has(.shortprofile) .post_message{grid-column:1/3;}
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:not(:has(.phbody)) .post_details,
.post_row:has(.shortprofile) .post_details{padding:5px;}
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row:has(.phbody) .profile_class_alias,
.post_row:has(.shortprofile) .profile_class_alias{min-height:auto;}
.navigation_links:has(a[href*="/f13-telephones"]) + .container .post_row .postbody_msg img{max-width: 100%;}


/* SUJET CARNET DE BORD */
.post:has(.carnetdebord) {position:relative;}
.post:has(.carnetdebord) * {position:relative;}
.post:has(.carnetdebord) .topbar2,
.post:has(.carnetdebord) .topbar:before,
.post:has(.carnetdebord) .post_profile div:not(.post_avatar_cadre, .profil_contact, .post_avatar),
.post:has(.carnetdebord) .profil_contact{display:none}
.post:has(.carnetdebord) .topbar{padding-bottom:10px;}
.post:has(.carnetdebord) .profile_tw{position:absolute;}
.post:has(.carnetdebord) .post_avatar{aspect-ratio: 1/1;width:80px;}
.post:has(.carnetdebord) .post_avatar_cadre{padding: 7px;width: calc(80px + 15px);aspect-ratio:1/1;margin: 0 auto;}
.post:has(.carnetdebord) .profil_contact{flex-wrap: wrap;}
.post:has(.carnetdebord) .post_message{grid-column:1/3;position:relative;}
.post:has(.carnetdebord) .post_details{padding:5px;}
.post:has(.carnetdebord) .carnetdebord{--iconwidth:100px;max-width:100%;}
.post:has(.carnetdebord) .newmodels:before{display:none;}
.post:has(.carnetdebord) .newmodels{padding:0 20px}
.post:has(.carnetdebord) .ecdsjt:has(.moodboard){overflow:clip;height: calc(2.5 * var(--iconwidth));}
.post:has(.carnetdebord) .moodboard{width:41%;position:absolute;right:-90px;display:grid;grid-template: repeat(10, calc(var(--iconwidth) / 5)) / repeat(6, calc(var(--iconwidth) / 2));
    gap:calc(var(--iconwidth) / 10);border-radius:0;float:right;margin-top: calc(var(--iconwidth) / 10 * -4); z-index:1;}
.post:has(.carnetdebord) .moodboard br{display:none;}
.post:has(.carnetdebord) .mbdia{width:var(--iconwidth);clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);background: var(--gradient3);aspect-ratio:1/1; padding: 1px; display: grid;place-items: center;align-self:center;position:relative;
    grid-column: span 2; grid-row: span 2;}
.post:has(.carnetdebord) .mbdia:before{clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); width: 100%; height: 100%; background: var(--bw2); display: grid; place-items: center;}
.post:has(.carnetdebord) .mbdia img{width:105%;height:105%;aspect-ratio:1/1;object-fit:cover;border-radius:0;filter:grayscale(1)}
.post:has(.carnetdebord) .mbdia:nth-of-type(1), .post:has(.carnetdebord) .mbdia:nth-of-type(10){grid-column: 3 / span 2;}
.post:has(.carnetdebord) .mbdia:nth-of-type(3), .post:has(.carnetdebord) .mbdia:nth-of-type(8){grid-column: 2 / span 2;}
.post:has(.carnetdebord) .firstblock{width:calc(100% - 20%);height:210px;overflow:auto;
  clip-path: polygon(calc(100% - 3px) 0, 600px 50%, calc(100% - 3px) 100%, 0% 100%, 0 50%, 0% 0%);}
.post:has(.carnetdebord) h1{text-align:left;text-transform:initial;margin:5px 0;}
.post:has(.carnetdebord) h1 i{background: var(--gradient3);color: transparent;background-clip: text;-webkit-background-clip: text;}
.post:has(.carnetdebord) .transpgradient{font: italic 1em var(--font5);}
.post:has(.carnetdebord) .cb_links{display:flex;justify-content:center;gap:10px; font-size:1.2em;}
.post:has(.carnetdebord) .cb_links a{display:grid;place-items:center;gap:2px;height:fit-content;}
.post:has(.carnetdebord) .cb_links a span{font: 9px var(--stfont);margin-top: 4px;}
.post:has(.carnetdebord) .cb_links i{background: var(--gradient3);color: transparent;background-clip: text;-webkit-background-clip: text;}}
.post:has(.carnetdebord) .cb_rps{display:grid; grid-template-columns: 1fr 1fr; gap:20px;}
.post:has(.carnetdebord) .cb_rps t1{text-transform:initial;}
.post:has(.carnetdebord) .cb_rps s2{font:bold 0.75em var(--font1);letter-spacing:0; margin-right:10px;}
.post:has(.carnetdebord):before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background: var(--gradient3);opacity:0.1;}

/* BOUTONS D'EDITION DU MESSAGE --- */
/* Conteneur boutons d'édition */
ul.profile-icons {
  flex-grow: 1;
  display: flex;
}

/*UN SEUL bouton d'édition */
ul.profile-icons li {
  padding: 2px 4px;
  border-radius: 5px;
}
/* Cache les boutons pour les invités */
.profile-icons a[href=""] { display:none }

/* Bouton like */
.rep-button,
.rep-button:active,
.rep-button:focus {
  color: var(--textColor);
}

.post_profile {
  padding: 10px;
  grid-row: 1/4;
  grid-column:1/2;
  position:relative;
}

/* Lien "@" de mention */
a.fa-mention {
  cursor: pointer;
}

/* RECOMPENSES --- */
/* Conteneur des récompenses */
#list_awards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

/* Récompense */
.award {
  width: 30px;
  height: 30px;
  position: relative;
  background-image: var(--award-image);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(.3);
  transition:filter 0.5s;
}
.award:hover .award_tooltiptext {display: block;}
.award:hover{filter:grayscale(0);z-index:1;}

/* Bloc description de la récompenses */
.award_tooltiptext {
  width: max-content;
  display: none;
  position: absolute;
  top: 0;
  left: 25px;
  background-color: var(--transp8);
  backdrop-filter: blur(2px);
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  font-size: 11px;
}

/* titre de la récompenses*/
.award_tooltiptext_title {
  font:600 1em var(--stfont);text-transform:uppercase;
}

.online:empty {
  display: none;
}

.post_message {
  padding: 15px;
  padding-left: 10px;
  position:relative;
  z-index:1;
  text-align: justify;
}

/* REPONSE RAPIDE --- */
/*supression de la mention "réponse rapide" */
.quickreply div.h3 {
  display: none;
}

/*centrer la réponse rapide*/
.quickreply {
  display: flex;
  justify-content: center;
}

/* Retire le cadre de la réponse rapide pour les invités */
#quickreply_content:empty {
  display: none;
}

/*** ------------------------------- ***/
/*** SONDAGE ----------------------- ***/

.poll {
  background: var(--neutral);
  border-radius: 5px;
  margin-bottom: 10px;
}

.head_poll {
  padding: 10px;
  border-bottom: 1px solid var(--neutralDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poll_list {
  display: grid;
  grid-template-columns: 220px auto;
}

.poll_option {
  padding: 10px 20px 0 10px;
  border-right: 1px solid var(--neutralDark);
  text-align: right;
}

.poll_vote {
  padding: 10px 10px 0 20px;
  display: flex;
  align-items: center;
}

.poll_send {
  margin-left: 220px;
  padding: 20px 10px 20px 20px;
  border-left: 1px solid var(--neutralDark);
}

.poll_vote:nth-child(2),
.poll_option:first-child {
  padding-top: 20px;
}

.votes-users-list {
  justify-content: start;
  margin: 20px 0 0;
}
