@font-face {
    font-family: 'NF Ultra';
    src: url('NFUltra-Regular.otf') format('otf'),
        url('NFUltra-Regular.woff2') format('woff2'),
        url('NFUltra-Regular.woff') format('woff'),
        url('NFUltra-Regular.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-feature-settings: 'ordn' on, 'salt' on;
    line-height: 100%;
}
