/*****moodboard******/
.mdb {display: flex;flex-direction: row;position: relative;width: 600px;gap: 5px;}
.mdb1 {display: flex;flex-direction: column;gap: 10px;}.mbdimg {object-fit: cover;border-radius: 15px;transition: 300ms;}
.mbdimg:hover{filter: contrast(0.7);}

/*****aes fiche******/
.r1 {place-content: center;display: flex;align-items: center;}
.r2 {object-fit: cover;width: 80px;height: 80px;border-radius: 50px;border: 10px solid var(--bw2);outline: 1px solid var(--transp6);outline-offset: 2px;margin-right: 10px;}
.rtxt {text-align: justify;line-height: 25px;}
rtl {font-family: var(--titlefont2);text-transform: uppercase;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-size: 15px;}
rst {font-family: var(--stfont);text-transform: uppercase;background: var(--bw2);padding: 4px 7px;}

.d1 {place-content: center;display: flex;flex-direction: row;gap: 3px;}
.d2 {display: flex;flex-direction: column;gap: 5px;}
.d3 {width: 70px;height: 70px;border-radius: 5px;object-fit: cover;}
.d4 {display: flex;flex-direction: column;justify-content: space-between;}
.dtxt{margin-top: 24px;font-family: var(--stfont);text-transform: uppercase;font-size: 14px;text-align: center;}

.s1 {display: flex;justify-content: center;}
.s2 {display: flex;gap: 5px;}
.s3 {height: 100px;width: 100px;object-fit: cover;border-radius: 10px;}
.s4{font-family: var(--stfont);text-transform: uppercase;background: var(--gradient3);padding: 2px 18px;position: absolute;margin-top: 75px;margin-left: 87px;color: var(--bw2);}

.t1 {display: flex;flex-direction: column;align-items: center;gap: 10px;}
.t2{height: 80px;width: 80px;border-radius: 50px;border: 8px solid var(--bw2);outline: 1px solid var(--transp6);outline-offset: 2px;object-fit: cover;}
.ttxt {text-align: center;gap: 2px;display: flex;flex-direction: column;}
ttl {text-transform: uppercase;font-family: var(--titlefont2);font-size: 12px;color: var(--couleur2);}
tst {font-family: var(--stfont);background: var(--bw2);padding: 3px;text-transform: uppercase;font-size: 12px;}

/*****fiche rp******/
szif1{font-family: var(--stfont);text-transform: uppercase;}
sztl{text-transform: uppercase;font-family: var(--titlefont2);background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.szbd {width: 500px;background-color: var(--bw1);padding: 20px;margin: 0 auto;border-radius: 10px;border: 10px solid var(--bw2);outline: 1px solid var(--transp8);outline-offset: 5px;}
.gig {position: absolute;margin-left: 165px;margin-top: -2px;display: flex;gap: 5px;}
.szig{filter: grayscale(1);object-fit: cover;width: 50px;height: 50px;border-radius: 100%;border: 5px solid var(--bw2);outline: 1px solid var(--transp8);}
.szh{background: var(--bw2);padding: 20px;text-align: -webkit-center;margin-top: 20px;border-radius: 10px;border: 1px solid var(--transp8);}
szif2 a{font-family: var(--stfont);text-transform: uppercase;box-shadow: inset 0 -5px 0 0 var(--transp8);color: var(--textColorAccent);}
szif1 {font-family: var(--stfont);text-transform: uppercase;color: var(--textColorAccent);}
.szrp{background: var(--bw2);padding: 30px;text-align: justify;margin-top: 20px;border-radius: 10px;border: 1px solid var(--transp8);}
