/*****moodboard******/
.mdb {display: flex;flex-direction: row;position: relative;width: 600px;gap: 5px;}
.mdb1 {display: flex;flex-direction: column;gap: 10px;}.mbdimg {object-fit: cover;border-radius: 15px;transition: 300ms;}
.mbdimg:hover{filter: contrast(0.7);}

/*****aes fiche******/
.r1 {place-content: center;display: flex;align-items: center;}
.r2 {object-fit: cover;width: 80px;height: 80px;border-radius: 50px;border: 10px solid var(--bw2);outline: 1px solid var(--transp6);outline-offset: 2px;margin-right: 10px;}
.rtxt {text-align: justify;line-height: 25px;}
rtl {font-family: var(--titlefont2);text-transform: uppercase;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-size: 15px;}
rst {font-family: var(--stfont);text-transform: uppercase;background: var(--bw2);padding: 4px 7px;}

.d1 {place-content: center;display: flex;flex-direction: row;gap: 3px;}
.d2 {display: flex;flex-direction: column;gap: 5px;}
.d3 {width: 70px;height: 70px;border-radius: 5px;object-fit: cover;}
.d4 {display: flex;flex-direction: column;justify-content: space-between;}
.dtxt{margin-top: 24px;font-family: var(--stfont);text-transform: uppercase;font-size: 14px;text-align: center;}

.s1 {display: flex;justify-content: center;}
.s2 {display: flex;gap: 5px;}
.s3 {height: 100px;width: 100px;object-fit: cover;border-radius: 10px;}
.s4{font-family: var(--stfont);text-transform: uppercase;background: var(--gradient3);padding: 2px 18px;position: absolute;margin-top: 75px;margin-left: 87px;color: var(--bw2);}

.t1 {display: flex;flex-direction: column;align-items: center;gap: 10px;}
.t2{height: 80px;width: 80px;border-radius: 50px;border: 8px solid var(--bw2);outline: 1px solid var(--transp6);outline-offset: 2px;object-fit: cover;}
.ttxt {text-align: center;gap: 2px;display: flex;flex-direction: column;}
ttl {text-transform: uppercase;font-family: var(--titlefont2);font-size: 12px;color: var(--couleur2);}
tst {font-family: var(--stfont);background: var(--bw2);padding: 3px;text-transform: uppercase;font-size: 12px;}

/*****fiche rp******/
szif1{font-family: var(--stfont);text-transform: uppercase;}
sztl{text-transform: uppercase;font-family: var(--titlefont2);background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.szbd {width: 440px;background-color: var(--bw1);padding: 20px;margin: 0 auto;border-radius: 10px;border: 10px solid var(--bw2);outline: 1px solid var(--transp8);outline-offset: 5px;}
.gig {position: absolute;margin-left: 135px;margin-top: -2px;display: flex;gap: 5px;}
.szig{filter: grayscale(1);object-fit: cover;width: 50px;height: 50px;border-radius: 100%;border: 5px solid var(--bw2);outline: 1px solid var(--transp8);}
.szh{background: var(--bw2);padding: 20px;width: 220px;text-align: -webkit-center;margin-top: 20px;border-radius: 10px;border: 1px solid var(--transp8);margin-left: 80px;}
szif2 a{font-family: var(--font1);text-transform: uppercase;box-shadow: inset 0 -5px 0 0 var(--bw5);font-size: 11px;}
szif1 {font-family: var(--font2);text-transform: uppercase;font-size: 12px;}
.szrp{background: var(--bw2);padding: 30px;text-align: justify;margin-top: 20px;border-radius: 10px;border: 1px solid var(--bw4);font-size: 12px;}

/*****fiche de présentation******/

.ic {float: left;}
.icpres {transition: 0.5s all ease-in-out;width: 100px;height: 80px;object-fit: cover;border: 5px solid var(--bw2);border-radius: 10px;outline: 1px solid var(--transp6);margin-left: 5px;margin-bottom: 5px;}
.bodypres{background: var(--bw1);border-radius: 10px;width: 690px;padding: 30px;margin-bottom: 8px;outline: 1px solid var(--bw2);outline-offset: 2px;border: 5px solid var(--bw2);}
.bpf {margin-top: -20px;text-align: justify;width: 554px;margin-left: -65px;}
namepres {font-family: var(--titlefont2);color: var(--textColorAccent);margin-bottom: -30px;font-weight: 900;font-size: 30px;position: relative;text-transform: uppercase;}
fcpres {font-size: 16px;text-transform: uppercase;padding: 7px;margin-left: -3px;font-family: var(--stfont);color: var(--transp6);}
.hautpres {float: left;margin-top: 11px;}
.cg {background: var(--gradient3);height: 170px;width: 385px;float: right;border-radius: 5px;text-align: justify;padding: 13px;margin-top: 1px;margin-left: 8px;}
.cpres {background: var(--bw2);height: 160px;width: 375px;float: right;border-radius: 5px;text-align: justify;padding: 13px;margin-top: -165px;margin-right: 5px;display: grid;grid-template-rows: 1fr max-content;}
.bpres {position: relative;display: flex;justify-content: space-evenly;align-items: baseline;margin-top: 20px;}
.boutonprez {text-transform: uppercase;font-size: 12px;padding: 1px 5px;border-radius: 3px;border: 1px solid var(--transp6);letter-spacing: 1px;color: var(--textColor);margin: 2px;font-family: 'Poppins';}
.l1pres {height: 1;width: 100%;background: var(--transp6);margin-top: -68px;position: relative;}
.l1pres1{height: 1;width: 100%;background: var(--transp6);margin-top: 15px;position: relative;}
.apres {display: flex;flex-direction: column;align-items: center;}
.atxt {font-family: var(--titlefont2);text-transform: uppercase;color: var(--transp3);position: relative;margin-top: -62px;float: right;font-size: 60px;}
alias {font-family: var(--titlefont2);text-transform: uppercase;position: relative;margin-top: -67px;font-size: 22px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.rgpres{outline: 4px solid var(--bw2);background: var(--gradient3); height: 80px;width: 80px;border-radius: 100%;padding: 13px;margin-top: -103px;margin-left: 583px;z-index: 2;position: absolute;}
.rpres {background: var(--bw1);height: 70px;width: 70px;float: right;border-radius: 100%;padding: 16px;margin-top: -8px;margin-right: -8px;text-transform: uppercase;font-size: 12px;}
.blcpres2::-webkit-scrollbar{display: none;}ch {font-family: var(--titlefont2);font-size: 22px;margin-bottom: -22px;text-align: center;color: var(--textColorAccent);}
ch1 {font-family: var(--stfont);font-size: 14px;}.prezmiddle {margin-top: 160px;}
.quoteprez {width: 100%;height: 100%;max-height: 60px;text-align: justify;position: relative;overlay: auto;font-size: 12px;text-transform: uppercase;padding: 8px;font-family: 'Poppins';letter-spacing: 1px;border-radius: 5px;outline: 1px solid var(--transp6);}
.jpres1 {margin-top: 27px;display: flex;flex-direction: row;justify-content: space-between;}
.jtpres {position: relative;font-size: 12px;text-transform: uppercase;font-family: var(--font1);color: var(--textColorAccent);}
.jlpres {outline: 1px solid var(--transp8);background-color: var(--bw2);width: 306px;height: 12px;border-radius: 5px;font-size: 7px;margin-top: 20px;position: absolute;}
.jlpres1 {background: var(--gradient3);height: 12px;border-radius: 5px;float: left;}
.blcpres {z-index: 2;background: var(--gradient3);width: 420px;height: 295px;border-radius: 5px;margin-top: -217px;position: absolute;}
.blcpres2 {z-index: 2;background: var(--bw2);width: 410px;height: 285px;border-radius: 5px;margin-left: 5px;margin-top: 5px;position: absolute;text-align: justify;overflow: auto;padding: 32px;}
.mpres3{margin-top: 114px;}
.blcpres3{background: var(--bw2);height: 286px;width: 476px;border-radius: 5px;outline: 1px solid var(--transp6);overlay: auto;margin-top: -190px;margin-left: 147px;text-align: justify;padding: 39px;text-align: justify;overflow: auto;animation: fadeIn 1s;}
.blcpres3::-webkit-scrollbar{display: none;}.epres{margin-top: -73px;}.eicp {float: left;margin-left: 42px;margin-top: -32px;}
info1{text-transform: uppercase;font-size: 12px;padding: 3px 9px;border-radius: 3px;border: 1px solid var(--transp6);color: var(--textColor);margin: 2px;font-family: var(--font2);}
.prezword {background: var(--gradient3);width: 100%;border-radius: 5px;overlay: auto;text-align: justify;padding: 16px;margin-left: 8px;}
.prezword2 {background: var(--neutralDark);width: 434px;margin-top: -12px;height: 103px;border-radius: 5px;overlay: auto;text-align: justify;padding: 16px;position: absolute;margin-left: -13px;}
.prezonglet {position: absolute;display: flex;flex-direction: column;margin-top: -105px;margin-left: 599px;}
.btpres{grid-gap: 20px;font-family: var(--titlefont2);text-transform: uppercase;position: absolute;margin-top: -27px;margin-left: 57px;;display: flex;flex-direction: column;cursor: pointer;}
.infpres{display: flex;flex-direction: row;flex-wrap: wrap;grid-column-gap: 20px;place-content: center;position: relative;margin-top: 29px;}
.avapres {width: 300px;height: 400px;margin-top: -138px;margin-left: 322px;object-fit: cover;border-radius: 5px;overflow: hidden;outline: 1px solid var(--transp6);outline-offset: 2px;}
.avapres img {transition: 0.5s all ease-in-out;margin-left: 0;margin-top: 0px;border: 5px solid var(--bw2);}
.avapres:hover img{transform: scale(1.1, 1.1);filter: grayscale(1);}.icpres:hover {filter: grayscale(1);}
.icpres1 {transition: 0.5s all ease-in-out;margin-left: 1px;width: 90px;height: 90px;object-fit: cover;border: 5px solid var(--bw2);margin-top: 5px;border-radius: 50px;}
.icpres1:hover {filter: grayscale(1);}.icg {background: var(--gradient3);width: 100px;height: 100px;border-radius: 50px;margin-left: -15px;}
label[for=tpres1]{position: absolute;margin-top: 102px;margin-left: 290px;z-index: 2;}
label[for=tpres2]{z-index: 2;position: absolute;margin-top: 131px;margin-left: 290px;}

/*****téléphone******/

.blph3 {cursor: pointer;background: var(--gradient3);border-radius: 17px 17px 2px 17px;padding: 8px 20px 8px 20px;width: 60px;position: absolute;margin-top: -116px;margin-left: 123px;}
.blph1 {cursor: pointer;background: var(--gradient3);border-radius: 17px 17px 2px 17px;padding: 8px 20px 8px 20px;width: 60px;position: absolute;margin-top: -125px;margin-left: 29px;}
.blph2 {cursor: pointer;background: var(--gradient3);border-radius: 2px 17px 17px 17px;padding: 8px 20px 8px 20px;width: 60px;position: absolute;margin-top: -33px;margin-left: 353px;}
.dph {display: flex;justify-content: space-evenly;}
.iconsp{transition: 0.5s all ease-in-out;outline: 1px solid var(--transp6);outline-offset: 2px;height: 120px;width: 120px;border-radius: 100%;object-fit: cover;border: 5px solid var(--bw2);margin-top: 5px;}
.icph {display: flex;float: right;max-height: 20px;font-size: 20px;}
hour{cursor: pointer;font-size: 14px;font-weight: 700;}
.phbody{border: 1px solid var(--transp8);background: var(--bw1);border-radius: 10px;width: 500px;padding: 30px;margin-bottom: 8px;}
.banph {border-bottom: 1px solid var(--transp8);margin-top: -30px;margin-left: -30px;text-align: justify;font-size: 12px;width: 497px;background: var(--bw2);border-radius: 10px 10px 0px 0px;padding: 17px;height: 51px;margin-bottom: 11px;}
.iconsp:hover {filter: grayscale(1);}nph2 {font-family: var(--stfont);color: var(--transp6);text-transform: uppercase;}
nph1 {letter-spacing: -.5px;font-family: var(--font1);font-size: 15px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-weight: 600;text-transform: uppercase;}
nph1 a {letter-spacing: -.5px;font-size: 15px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-weight: 600;text-transform: uppercase;font-family: var(--font1);}

/*****instagram******/

.tabset{line-height: 22px;}
.bdinsta {height: 1035px!important;background: var(--bw1);border-radius: 10px;width: 600px;padding: 30px;margin-bottom: 8px;border: 1px solid var(--transp8);}
.baninsta {text-align: justify;font-size: 12px;background: var(--bw2);border-radius: 10px 10px 0px 0px;padding: 17px;height: 51px;width: 598px!important;margin-left: -30px;margin-top: -29px;margin-bottom: 20px;border-bottom: 1px solid var(--transp8);}
.instaid {text-transform: lowercase;font-family: 'Poppins';font-size: 16px;color: var(--textColorAccent);letter-spacing: -0.2px;margin-top: -3px;margin-left: 34px;font-weight: 700;position: absolute;}
.icongradient {background: var(--gradient3);width: 100px;height: 100px;border-radius: 100%;float: left;margin-top: 8px;}
.iconinsta {max-width: 90px;width: 100%;border-radius: 70px;margin-top: 5px;margin-left: 5px;background-attachment: fixed;max-height: 90px;border: 5px solid var(--bw2);float: left;object-fit: cover;}
.iconinsta2 {max-width: 65px;width: 100%;border-radius: 70px;background-attachment: fixed;max-height: 65px;border: 5px solid var(--bw2);float: left;margin-bottom: 5px;object-fit: cover;}
.instahead, .pseudoinsta {font-size: 12px; font-family: 'Poppins';display: flex;text-align: -webkit-left;line-height: .9;margin-left: 8px;flex-direction: column;margin-top: -3px;margin-bottom: 2px;}
.instainfos {margin-left: 17px;}
.bioig {border: 1px solid var(--transp8);text-align: justify;margin-top: 20px;font-size: 12px;background: var(--bw2);border-radius: 10px;padding: 17px;width: 419px!important;margin-left: 14px;}
.fllwdby {margin-left: 24px;margin-top: 17px;}
.storiesig{position: relative;margin-bottom: 156px;margin-top: 50px;}
.storiesig1 {background: transparent;width: 67px;height: 67px;border-radius: 100%;margin-right: 25px;float: left;border: 1px solid var(--transp6);}
.instaphotos {margin-top: -21px; margin-bottom:25px;display: flex;justify-content: space-around;min-height: 198px;animation: fadeIn 1s;}
.postimg {margin-inline: 2px;object-fit: cover;min-width: 198px;max-height: 198px;border-radius: 0px;transition-duration: 0.5s;}
.postimg:hover {opacity: 0.8;filter: grayscale(1);}
.storiesig2 {text-align-last: center;font-size: 12px;}
.igic1 {text-transform: uppercase;font-size: 20px;background-image: var(--gradient3);color: transparent;-webkit-background-clip: text;position: absolute;cursor: pointer;font-family: 'cappuccicons';content: '\e920';}
.certified{height: 15px;position: absolute;margin-top: 6px;margin-left:5px;}
label[for=tabig1] {border: 1px solid var(--transp8);position: absolute;margin-left: -299px;z-index: 2;background: var(--bw2);width: 297px;padding: 9px;border-radius: 5px;}
label[for=tabig2] {position: absolute;margin-left: 5px;z-index: 2;background: var(--bw2);width: 294px;padding: 9px;border-radius: 5px;border: 1px solid var(--transp8);}

/*****instagram post******/

.postigbody {border: 1px solid var(--transp8);background: var(--bw1);border-radius: 10px;width: 600px;padding: 30px;margin-bottom: 8px;}
.iconigp {max-width: 40px;width: 100;border-radius: 50px;margin-top: -15px;margin-left: -15px;background-attachment: fixed;max-height: 40px;float: left;border: 3px solid var(--bw2);object-fit: cover;}
.banigp {border-bottom: 1px solid var(--transp8);margin-top: -30px;margin-left: -30px;text-align: justify;font-size: 12px;width: 598px;background: var(--bw2);border-radius: 10px 10px 0px 0px;padding: 17px;height: 51px;margin-bottom: 11px;}
.gicig{background: var(--gradient3);padding: 20px;width: 50px;height: 50px;border-radius: 100%;float: left;}
.iconigpost {max-width: 50px;border-radius: 50px;margin-top: -15px;margin-left: -15px;background-attachment: fixed;max-height: 50px;float: left;border: 4px solid var(--bw2);}
.igidp {cursor: pointer;text-transform: lowercase;font-family: 'Poppins';font-size: 16px;color: var(--textColor);letter-spacing: -0.2px;margin-top: 9px;margin-left: 61px;font-weight: 700;position: absolute;}
.igpic1 {margin-top: 19px;margin-left: -30px;}
.postpic{width: 598px;object-fit: cover;}
.igicp { display: flex;flex-direction: row;gap: 15px;}
.igidp2{cursor: pointer;margin-right: 5px;text-transform: lowercase;font-family: 'Poppins';font-size: 15px;color: var(--textColor);letter-spacing: -0.2px;font-weight: 700;}
.igbas{font-size: 15px;margin-top: -7px;text-align: justify;width: 540px;}
hs{cursor: pointer;color: var(--couleur1)}
.igdate {text-transform: uppercase;color: var(--transp6);font-family: var(--stfont);font-size: 13px;text-align: left;margin-top: 14px;}

/*****instagram notifications******/

.notifig {background: var(--bw1);border-radius: 10px;width: 600px;padding: 30px;margin-bottom: 8px;border: 1px solid var(--transp8);}
.notificon {max-width: 55px;border-radius: 50px;background-attachment: fixed;max-height: 55px;width: 100;border: 3px solid var(--bw2);float: left;margin-left: -5px;margin-top: -5px;object-fit: cover;}
.notificong {background: var(--gradient3);padding: 10px;border-radius: 50px;width: 65px;height: 65px;float: left;}
.notif1 {border: 1px solid var(--transp8);text-align: justify;margin-top: -17px;font-size: 15px;background: var(--bw2);border-radius: 5px;padding: 17px;margin-left: 77px;}
notifid{cursor: pointer;text-transform: lowercase;font-family: 'Poppins';font-size: 15px;color: var(--textColor);letter-spacing: -0.2px;font-weight: 700;}
.certifiednotif{height: 15px;margin-left: 5px;position: relative;top: 3px;}

/*****instagram story******/

.stryln{background-color: #f3f3f3;height: 5px;border-radius: 5px;float: right;width: 285px;}
.strybd{width: 600px;border-radius: 10px;cursor: pointer;}
.stryht{display: flex;gap: 10px;position: absolute;margin-left: 10px;z-index: 3;}
.stryln1{background-color: #dbdbdb52;height: 5px;border-radius: 5px;float: right;width: 285px;}
.stryln2{background: #f3f3f3;height: 5px;border-radius: 5px;float: left;}
.stryg{background: var(--gradient3);padding: 10px;border-radius: 50px;width: 60px;height: 60px;float: left;margin-left: 22px;z-index: 3;position: relative;}
.stryicon{max-width: 50px;border-radius: 50px;background-attachment: fixed;max-height: 50px;width: 100;border: 3px solid #f3f3f3;float: left;margin-left: -5px;margin-top: -5px;object-fit: cover;z-index: 3;position: relative;}
.stryid{margin-top: 14px;margin-left: 94px;position: relative;z-index: 3;}
stryid{text-transform: lowercase;font-family: 'Poppins';font-size: 15px;color: #fefefe;letter-spacing: -0.2px;font-weight: 700;float: left;}
.certifiedstry{height: 15px;margin-left: 4px;position: relative;top: 3px;float: left;margin-top: 2px;}
.stryimg{width: 600px;margin-top: -108px;border-radius: 10px;object-fit: cover;height: 900px;}
.stybs{background: var(--bw2);border: 1px solid var(--transp8);position: relative;margin-top: -65px;height: 80px;border-radius: 0px 0px 10px 10px;display: flex;justify-content: space-between;}
.strymssg{border: 1px solid var(--transp6);height: 48px;padding: 13px 165px;border-radius: 43px;margin-top: 13px;margin-left: 12px;}
mssg{color: var(--transp6);}
.strybt{display: flex;gap: 20px;padding: 20px;}
.strytag{position: absolute;z-index: 3;margin-top: -369px;margin-left: 390px;}
tag{border-radius: 2px;font-family: var(--font1);color: #f3f3f3;font-size: 20px;text-shadow: 0 0 2px #2b2b2b;background: #ffffff36;padding: 2px 9px;}
