/*****code validation******/
.wlc{width: 670px;outline: 1px solid var(--bw4);outline-offset: 5px;border: 1px solid var(--transp8);background: var(--bw1);border-radius: 5px;margin: 0 auto;overflow: hidden;padding-bottom: 20px;}
.wlchead{overflow: hidden;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;height: 135px;position: relative;}
.wlctitle{background-image: var(--gradient3);color: transparent;-webkit-background-clip: text;font-family: var(--font1);line-height: 100px;font-size: 140px;letter-spacing: -15px;text-transform: uppercase;position: absolute;width: 700px;}
.wlcbody{background: var(--bw2);padding: 30px;text-align: justify;width: 600px;margin: auto;border-radius: 5px;border: 1px solid var(--transp6);margin-top: -60px;position: relative;}
.wlcbody2{background: var(--bw2);padding: 30px;text-align: justify;width: 590px;margin: auto;border-radius: 5px;border: 1px solid var(--transp6);margin-top: 10px;position: relative;}
.wlcbody3{background: var(--bw2);padding: 30px;text-align: justify;width: 600px;margin: auto;border-radius: 5px;border: 1px solid var(--transp6);position: relative;}
.wlcst2{background: var(--gradient3);height: 30px;border-radius: 2px;outline: 1px solid var(--bw2);padding: 7px 2px;;width: 590px;margin: auto;}
.wlcsoustitre2{text-align: right;margin-left: 12px;font-size: 13px;font-family: var(--font1);text-transform: uppercase;color: var(--bw2);letter-spacing: -.5px;}
textcit:hover{filter: contrast(0.9);}
.wlcstaff{letter-spacing: -.5px;text-transform: uppercase;background: var(--gradient3) no-repeat bottom left / 100% 2px;font-family: var(--font1);padding-bottom: 2px;font-size: 12px;}

/*****moodboard******/
.mdb {display: flex;flex-direction: row;position: relative;width: 600px;gap: 5px;}
.mdb1 {display: flex;flex-direction: column;gap: 10px;}.mbdimg {object-fit: cover;border-radius: 15px;transition: 300ms;}
.mbdimg:hover{filter: contrast(0.7);}

/*****aes fiche******/
.r1 {place-content: center;display: flex;align-items: center;}
.r2 {object-fit: cover;width: 80px;height: 80px;border-radius: 50px;border: 10px solid var(--bw2);outline: 1px solid var(--transp6);outline-offset: 2px;margin-right: 10px;}
.rtxt {text-align: justify;line-height: 20px;}
rtl {font-family: var(--titlefont2);text-transform: uppercase;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-size: 14px;}
rst {font-family: var(--stfont);text-transform: uppercase;background: var(--bw2);padding: 2px 9px;font-size: 12px;border-radius: 2px;}

.d1 {place-content: center;display: flex;flex-direction: row;gap: 3px;}
.d2 {display: flex;flex-direction: column;gap: 5px;}
.d3 {width: 70px;height: 70px;border-radius: 5px;object-fit: cover;}
.d4 {display: flex;flex-direction: column;justify-content: space-between;}
.dtxt{margin-top: 24px;font-family: var(--stfont);text-transform: uppercase;font-size: 14px;text-align: center;}

.s1 {display: flex;justify-content: center;}
.s2 {display: flex;gap: 5px;}
.s3 {height: 100px;width: 100px;object-fit: cover;border-radius: 10px;}
.s4{font-family: var(--font1);text-transform: uppercase;background: var(--gradient3);padding: 2px 18px;position: absolute;margin-top: 69px;margin-left: 87px;color: var(--bw2);border-radius: 2px;font-size: 12px;letter-spacing: -.5px;}

.t1 {display: flex;flex-direction: column;align-items: center;gap: 10px;}
.t2{height: 80px;width: 80px;border-radius: 50px;border: 8px solid var(--bw2);outline: 1px solid var(--transp6);outline-offset: 2px;object-fit: cover;}
.ttxt {text-align: center;gap: 2px;display: flex;flex-direction: column;}
ttl {text-transform: uppercase;font-family: var(--titlefont2);font-size: 12px;color: var(--couleur2);}
tst {font-family: var(--stfont);background: var(--bw2);padding: 3px;text-transform: uppercase;font-size: 12px;}

/*****fiche rp******/
szif1{text-transform: uppercase;font-size: 11px;letter-spacing: -.5px;}
sztl{text-transform: uppercase;font-family: var(--titlefont2);background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.szbd {width: 440px;background-color: var(--bw1);padding: 20px;margin: 0 auto;border-radius: 10px;border: 10px solid var(--bw2);outline: 1px solid var(--bw4);outline-offset: 5px;}
.gig {position: absolute;margin-left: 135px;margin-top: -2px;display: flex;gap: 5px;}
.szig{filter: grayscale(1);object-fit: cover;width: 50px;height: 50px;border-radius: 100%;border: 5px solid var(--bw2);outline: 1px solid var(--transp8);}
.szh{background: var(--bw2);padding: 20px;width: 220px;text-align: -webkit-center;margin-top: 20px;border-radius: 10px;border: 1px solid var(--transp8);margin-left: 80px;}
szif2 a{text-transform: uppercase;box-shadow: inset 0 -5px 0 0 var(--bw5);font-size: 11px;color: var(--textColor);letter-spacing: -.5px;}
szif2 {text-transform: uppercase;box-shadow: inset 0 -5px 0 0 var(--bw5);font-size: 11px;color: var(--textColor);letter-spacing: -.5px;}
.szrp{background: var(--bw2);padding: 30px;text-align: justify;margin-top: 20px;border-radius: 10px;border: 1px solid var(--transp8);}

/*****fiche de présentation******/

.ic {float: left;}
.icpres {transition: 0.5s all ease-in-out;width: 100px;height: 80px;object-fit: cover;border: 5px solid var(--bw2);border-radius: 10px;outline: 1px solid var(--transp6);margin-left: 5px;margin-bottom: 5px;}
.bodypres{background: var(--bw1);border-radius: 10px;width: 690px;padding: 30px;margin-bottom: 8px;outline: 1px solid var(--bw2);outline-offset: 2px;border: 5px solid var(--bw2);}
.bpf {margin-top: -20px;text-align: justify;width: 554px;margin-left: -65px;}
namepres {font-family: var(--titlefont2);color: var(--textColorAccent);margin-bottom: -30px;font-weight: 900;font-size: 30px;position: relative;text-transform: uppercase;}
fcpres {font-size: 16px;text-transform: uppercase;padding: 7px;margin-left: -3px;font-family: var(--stfont);color: var(--transp6);}
.hautpres {float: left;margin-top: 11px;}
.cg {background: var(--gradient3);height: 170px;width: 385px;float: right;border-radius: 5px;text-align: justify;padding: 13px;margin-top: 1px;margin-left: 8px;}
.cpres {background: var(--bw2);height: 160px;width: 375px;float: right;border-radius: 5px;text-align: justify;padding: 13px;margin-top: -165px;margin-right: 5px;display: grid;grid-template-rows: 1fr max-content;}
.bpres {position: relative;display: flex;justify-content: space-evenly;align-items: baseline;margin-top: 20px;}
.boutonprez {text-transform: uppercase;font-size: 12px;padding: 1px 5px;border-radius: 3px;border: 1px solid var(--transp6);letter-spacing: 1px;color: var(--textColor);margin: 2px;font-family: 'Poppins';}
.l1pres {height: 1;width: 100%;background: var(--transp6);margin-top: -68px;position: relative;}
.l1pres1{height: 1;width: 100%;background: var(--transp6);margin-top: 15px;position: relative;}
.apres {display: flex;flex-direction: column;align-items: center;}
.atxt {font-family: var(--titlefont2);text-transform: uppercase;color: var(--transp3);position: relative;margin-top: -62px;float: right;font-size: 60px;}
alias {font-family: var(--titlefont2);text-transform: uppercase;position: relative;margin-top: -67px;font-size: 22px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.rgpres{outline: 4px solid var(--bw2);background: var(--gradient3); height: 80px;width: 80px;border-radius: 100%;padding: 13px;margin-top: -103px;margin-left: 583px;z-index: 2;position: absolute;}
.rpres {background: var(--bw1);height: 70px;width: 70px;float: right;border-radius: 100%;padding: 16px;margin-top: -8px;margin-right: -8px;text-transform: uppercase;font-size: 12px;}
.blcpres2::-webkit-scrollbar{display: none;}ch {font-family: var(--titlefont2);font-size: 22px;margin-bottom: -22px;text-align: center;color: var(--textColorAccent);}
ch1 {font-family: var(--stfont);font-size: 14px;}.prezmiddle {margin-top: 160px;}
.quoteprez {width: 100%;height: 100%;max-height: 60px;text-align: justify;position: relative;overlay: auto;font-size: 12px;text-transform: uppercase;padding: 8px;font-family: 'Poppins';letter-spacing: 1px;border-radius: 5px;outline: 1px solid var(--transp6);}
.jpres1 {margin-top: 27px;display: flex;flex-direction: row;justify-content: space-between;}
.jtpres {position: relative;font-size: 14px;text-transform: uppercase;font-family: var(--font1);color: var(--textColorAccent);letter-spacing: -.5px;}
.jlpres {outline: 1px solid var(--transp8);background-color: var(--bw2);width: 306px;height: 12px;border-radius: 5px;font-size: 7px;margin-top: 20px;position: absolute;}
.jlpres1 {background: var(--gradient3);height: 12px;border-radius: 5px;float: left;}
.blcpres {z-index: 2;background: var(--gradient3);width: 420px;height: 295px;border-radius: 5px;margin-top: -217px;position: absolute;}
.blcpres2 {z-index: 2;background: var(--bw2);width: 410px;height: 285px;border-radius: 5px;margin-left: 5px;margin-top: 5px;position: absolute;text-align: justify;overflow: auto;padding: 32px;}
.mpres3{margin-top: 114px;}
.blcpres3{background: var(--bw2);height: 286px;width: 476px;border-radius: 5px;outline: 1px solid var(--transp6);overlay: auto;margin-top: -190px;margin-left: 147px;text-align: justify;padding: 39px;text-align: justify;overflow: auto;animation: fadeIn 1s;}
.blcpres3::-webkit-scrollbar{display: none;}.epres{margin-top: -73px;}.eicp {float: left;margin-left: 42px;margin-top: -32px;}
info1{text-transform: uppercase;font-size: 12px;padding: 3px 9px;border-radius: 3px;border: 1px solid var(--transp6);color: var(--textColor);margin: 2px;font-family: var(--font2);}
.prezword {background: var(--gradient3);width: 100%;border-radius: 5px;overlay: auto;text-align: justify;padding: 16px;margin-left: 8px;}
.prezword2 {background: var(--neutralDark);width: 434px;margin-top: -12px;height: 103px;border-radius: 5px;overlay: auto;text-align: justify;padding: 16px;position: absolute;margin-left: -13px;}
.prezonglet {position: absolute;display: flex;flex-direction: column;margin-top: -105px;margin-left: 599px;}
.btpres{grid-gap: 20px;font-family: var(--titlefont2);text-transform: uppercase;position: absolute;margin-top: -27px;margin-left: 57px;;display: flex;flex-direction: column;cursor: pointer;}
.infpres{display: flex;flex-direction: row;flex-wrap: wrap;grid-column-gap: 20px;place-content: center;position: relative;margin-top: 29px;}
.avapres {width: 300px;height: 400px;margin-top: -138px;margin-left: 322px;object-fit: cover;border-radius: 5px;overflow: hidden;outline: 1px solid var(--transp6);outline-offset: 2px;}
.avapres img {transition: 0.5s all ease-in-out;margin-left: 0;margin-top: 0px;border: 5px solid var(--bw2);}
.avapres:hover img{transform: scale(1.1, 1.1);filter: grayscale(1);}.icpres:hover {filter: grayscale(1);}
.icpres1 {transition: 0.5s all ease-in-out;width: 90px;height: 90px;object-fit: cover;border: 5px solid var(--bw2);margin-top: 5px;border-radius: 50px;}
.icpres1:hover {filter: grayscale(1);}.icg {background: var(--gradient3);width: 100px;height: 100px;border-radius: 50px;margin-left: -15px;}
label[for=tpres1]{position: absolute;margin-top: 102px;margin-left: 290px;z-index: 2;}
label[for=tpres2]{z-index: 2;position: absolute;margin-top: 131px;margin-left: 290px;}

/*****téléphone******/

.blph3 {cursor: pointer;background: var(--gradient3);border-radius: 17px 17px 2px 17px;padding: 8px 20px 8px 20px;width: 60px;position: absolute;margin-top: -116px;margin-left: 123px;}
.blph1 {cursor: pointer;background: var(--gradient3);border-radius: 17px 17px 2px 17px;padding: 8px 20px 8px 20px;width: 60px;position: absolute;margin-top: -125px;margin-left: 29px;}
.blph2 {cursor: pointer;background: var(--gradient3);border-radius: 2px 17px 17px 17px;padding: 8px 20px 8px 20px;width: 60px;position: absolute;margin-top: -33px;margin-left: 353px;}
.dph {display: flex;justify-content: space-evenly;}
.iconsp{transition: 0.5s all ease-in-out;outline: 1px solid var(--transp6);outline-offset: 2px;height: 120px;width: 120px;border-radius: 100%;object-fit: cover;border: 5px solid var(--bw2);margin-top: 5px;}
.icph {display: flex;float: right;max-height: 20px;font-size: 20px;}
hour{cursor: pointer;font-size: 14px;font-weight: 700;}
.phbody{border: 1px solid var(--transp8);background: var(--bw1);border-radius: 10px;width: 500px;padding: 30px;margin-bottom: 8px;}
.banph {border-bottom: 1px solid var(--transp8);margin-top: -30px;margin-left: -30px;text-align: justify;font-size: 12px;width: 497px;background: var(--bw2);border-radius: 10px 10px 0px 0px;padding: 17px;height: 51px;margin-bottom: 11px;}
.iconsp:hover {filter: grayscale(1);}nph2 {font-family: var(--stfont);color: var(--transp6);text-transform: uppercase;}
nph1 {letter-spacing: -.5px;font-family: var(--font1);font-size: 15px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-weight: 600;text-transform: uppercase;}
nph1 a {background: var(--gradient);-webkit-background-clip: text;-webkit-text-fill-color: transparent;letter-spacing: -.5px;font-size: 15px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-weight: 600;text-transform: uppercase;font-family: var(--font1);}

/*****instagram******/
fllws{background: var(--bw2);padding: 2px 10px;border-radius: 2px;text-transform: uppercase;border: 1px solid var(--transp8);text-align: center;line-height: 15px;font-weight: bold;}
.bdinsta {background: var(--bw1);border-radius: 10px;width: 600px;margin-bottom: 8px;border: 1px solid var(--transp8);}
.baninsta {text-align: justify;font-size: 12px;background: var(--bw2);border-radius: 10px 10px 0px 0px;padding: 17px;height: 51px;width: 598px!important;border-bottom: 1px solid var(--transp8);}
.instaid {text-transform: lowercase;font-family: 'Poppins';font-size: 16px;color: var(--textColorAccent);letter-spacing: -0.2px;margin-top: -2px;margin-left: 34px;font-weight: 700;position: absolute;}
.icongradient {background: var(--gradient3);width: 100px;height: 100px;border-radius: 100%;float: left;margin-top: 8px;}
.iconinsta {max-width: 90px;width: 100%;border-radius: 70px;margin-top: 5px;margin-left: 5px;background-attachment: fixed;max-height: 90px;border: 5px solid var(--bw2);float: left;object-fit: cover;}
.iconinsta2 {max-width: 65px;width: 100%;border-radius: 70px;background-attachment: fixed;max-height: 65px;border: 5px solid var(--bw2);float: left;margin-bottom: 5px;object-fit: cover;}
.instahead, .pseudoinsta {font-size: 12px; font-family: 'Poppins';display: flex;text-align: -webkit-left;line-height: .9;margin-left: 8px;flex-direction: column;margin-top: -3px;margin-bottom: 2px;}
.instainfos {margin-left: 17px;}
.bioig {border: 1px solid var(--transp8);text-align: justify;margin-top: 20px;font-size: 12px;background: var(--bw2);border-radius: 10px;padding: 17px;width: 419px!important;margin-left: 14px;}
.fllwdby {margin-left: 24px;margin-top: 17px;}
.storiesig{position: relative;margin-bottom: 60px;margin-top: -40px;padding: 35px;}
.storiesig1 {background: transparent;width: 67px;height: 67px;border-radius: 100%;margin-right: 25px;float: left;border: 1px solid var(--transp6);}
.instaphotos {display: grid;animation: fadeIn 1s;grid-template-columns: auto auto auto;grid-gap: 2px;margin: auto;margin-top: -7px;}
.postimg {object-fit: cover;min-width: 198px;width: 100%;max-height: 198px;height: 100%;border-radius: 0px;transition-duration: 0.5s;}
.postimg:hover {opacity: 0.8;filter: grayscale(1);}
.storiesig2 {text-align-last: center;font-size: 12px;}
.igic1 {text-transform: uppercase;font-size: 20px;background-image: var(--gradient3);color: transparent;-webkit-background-clip: text;position: absolute;cursor: pointer;font-family: 'cappuccicons';content: '\e920';}
.certified{height: 15px;position: absolute;margin-top: 5px;margin-left:5px;}
label[for=tabig1] {border-top: 1px solid var(--transp8);position: absolute;margin-left: -300px;z-index: 2;background: var(--bw2);width: 300px;padding: 9px;border-left: 1px solid var(--transp8);}
label[for=tabig2] {position: absolute;z-index: 2;background: var(--bw2);width: 300px;padding: 9px;border-top: 1px solid var(--transp8);border-right: 1px solid var(--transp8);}
.igprofil{padding: 30px;}
/*****instagram post******/

.postigbody {border: 1px solid var(--transp8);background: var(--bw1);border-radius: 10px;width: 600px;padding: 30px;margin-bottom: 8px;}
.iconigp {max-width: 40px;width: 100;border-radius: 50px;margin-top: -15px;margin-left: -15px;background-attachment: fixed;max-height: 40px;float: left;border: 3px solid var(--bw2);object-fit: cover;}
.banigp {border-bottom: 1px solid var(--transp8);margin-top: -30px;margin-left: -30px;text-align: justify;font-size: 12px;width: 598px;background: var(--bw2);border-radius: 10px 10px 0px 0px;padding: 17px;height: 51px;margin-bottom: 11px;}
.gicig{background: var(--gradient3);padding: 20px;width: 50px;height: 50px;border-radius: 100%;float: left;}
.iconigpost {max-width: 50px;border-radius: 50px;margin-top: -15px;margin-left: -15px;background-attachment: fixed;max-height: 50px;float: left;border: 4px solid var(--bw2);}
.igidp {cursor: pointer;text-transform: lowercase;font-family: 'Poppins';font-size: 16px;color: var(--textColor);letter-spacing: -0.2px;margin-top: 12px;margin-left: 61px;font-weight: 700;position: absolute;}
.igpic1 {margin-top: 19px;margin-left: -30px;}
.postpic{width: 598px;object-fit: cover;border-radius: 0px;border: 1px solid var(--transp8);}
.igicp { display: flex;flex-direction: row;gap: 15px;}
.igidp2{cursor: pointer;margin-right: 5px;text-transform: lowercase;font-family: 'Poppins';font-size: 15px;color: var(--textColor);letter-spacing: -0.2px;font-weight: 700;}
.igbas{font-size: 15px;margin-top: -7px;text-align: justify;width: 540px;}
hs{cursor: pointer;color: var(--couleur1)}
.igdate {text-transform: uppercase;color: var(--transp6);font-family: var(--stfont);font-size: 13px;text-align: left;margin-top: 14px;}

/*****instagram notifications******/

.notifig {background: var(--bw1);border-radius: 10px;width: 600px;margin-bottom: 8px;border: 1px solid var(--transp8);}
.notificon {max-width: 55px;border-radius: 50px;background-attachment: fixed;max-height: 55px;width: 100;border: 3px solid var(--bw2);float: left;margin-left: -5px;margin-top: -5px;object-fit: cover;}
.notificong {background: var(--gradient3);padding: 10px;border-radius: 50px;width: 65px;height: 65px;float: left;}
.notif1 {border: 1px solid var(--transp8);text-align: justify;margin-top: -17px;font-size: 15px;background: var(--bw2);border-radius: 5px;padding: 17px;margin-left: 77px;}
notifid{cursor: pointer;text-transform: lowercase;font-family: 'Poppins';font-size: 15px;color: var(--textColor);letter-spacing: -0.2px;font-weight: 700;}
.certifiednotif{height: 15px;margin-left: 5px;position: relative;top: 3px;}
.notifp{padding: 25px;margin-bottom: 15px;}

/*****instagram story******/

.stryln{background-color: #f3f3f3;height: 5px;border-radius: 5px;float: right;width: 285px;}
.strybd{width: 600px;border-radius: 10px;cursor: pointer;}
.stryht{display: flex;gap: 10px;position: absolute;margin-left: 10px;z-index: 3;}
.stryln1{background-color: #dbdbdb52;height: 5px;border-radius: 5px;float: right;width: 285px;}
.stryln2{background: #f3f3f3;height: 5px;border-radius: 5px;float: left;}
.stryg{background: var(--gradient3);padding: 10px;border-radius: 50px;width: 60px;height: 60px;float: left;margin-left: 22px;z-index: 3;position: relative;}
.stryicon{max-width: 50px;border-radius: 50px;background-attachment: fixed;max-height: 50px;width: 100;border: 3px solid #f3f3f3;float: left;margin-left: -5px;margin-top: -5px;object-fit: cover;z-index: 3;position: relative;}
.stryid{margin-top: 14px;margin-left: 94px;position: relative;z-index: 3;}
stryid{text-transform: lowercase;font-family: 'Poppins';font-size: 15px;color: #fefefe;letter-spacing: -0.2px;font-weight: 700;float: left;}
.certifiedstry{height: 15px;margin-left: 4px;position: relative;top: 3px;float: left;margin-top: 2px;}
.stryimg{width: 600px;margin-top: -108px;border-radius: 10px;object-fit: cover;height: 900px;}
.stybs{background: var(--bw2);border: 1px solid var(--transp8);position: relative;margin-top: -65px;height: 80px;border-radius: 0px 0px 10px 10px;display: flex;justify-content: space-between;}
.strymssg{border: 1px solid var(--transp6);height: 48px;padding: 13px 165px;border-radius: 43px;margin-top: 13px;margin-left: 12px;}
mssg{color: var(--transp6);}
.strybt{display: flex;gap: 20px;padding: 20px;}
.strytag{position: absolute;z-index: 3;margin-top: -369px;margin-left: 390px;}
tag{border-radius: 2px;font-family: var(--font1);color: #f3f3f3;font-size: 20px;text-shadow: 0 0 2px #2b2b2b;background: #ffffff36;padding: 2px 9px;}

/*****pl 2******/
.szpl2{width: 670px;margin: 0 auto;border-radius: 15px;border: 10px solid var(--bw2);background: var(--bw1);}
.pl2blc1{width: 270px;height: 177px;background: var(--bw1);border: 5px solid var(--bw2);border-radius: 10px;overflow: hidden;float: right;margin-right: 115px;margin-top: -36px;padding: 10px;outline: 1px solid var(--transp6);outline-offset: 2px;}
.pl2img{transition: 300ms;height: 100px;width: 240px;object-fit: cover;filter: grayscale(1) brightness(0.7);border: 2px solid var(--bw2);}
.pl2blc2{align-items: center;display: flex;width: 204px;height: 160px;border: 2px solid var(--bw2);background: var(--transp9);border-radius: 5px;backdrop-filter: blur(2px);padding: 20px;box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;}
.pl2body{padding: 202px 20px 20px 20px;}
.pl2txt{background: var(--bw2);text-align: justify;padding: 20px;border-radius: 10px;margin-top: 15px;border: 1px solid var(--bw4);}
.pl2txt2{background: var(--bw2);text-align: justify;padding: 30px;border-radius: 10px;margin-top: 15px;border: 1px solid var(--bw4);height: 170px;}
.txtpl2{overflow: scroll;width: fit-content;height: 107px;}
.txtpl2::-webkit-scrollbar{display: none;}
.pl2nav{width: 204px;display: flex;flex-direction: column;gap: 5px;}
.pl2c{padding: 5px;position: absolute;margin-top: 39px;margin-left: 113px;}
infopl2{text-transform: lowercase;font-family: var(--font1);font-size: 15px;color: var(--textColorAccent);letter-spacing: -1px;}
infopl2:before{content:"\eb02";font-size:10px;font-family:'cappuccicons';-webkit-background-clip:text;margin-right:8px;color:transparent;background-image:linear-gradient(60deg,var(--gradient));}
.pl2crc{position: absolute;background: var(--gradient3);z-index: 2;height: 30px;width: 30px;padding: 8px;border-radius: 100%;margin-top: -9px;margin-left: -9px;outline: 1px solid var(--bw4);}
.pl2title{box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;width: 222px;height: auto;padding: 5px 20px;border: 1px solid var(--bw4);position: absolute;margin-top: 92px;margin-left: 365px;font-family: var(--font1);text-transform: lowercase;font-size: 20px;color: var(--bw4);line-height: 100%;border-radius: 15px;background: var(--gradient3);letter-spacing: -2px;text-align: center;}
.pl2st{height: auto;padding: 5px 20px;border: 1px solid var(--bw4);position: absolute;margin-top: 2px;margin-left: 23px;font-family: var(--font1);text-transform: lowercase;font-size: 12px;color: var(--bw4);line-height: 100%;border-radius: 15px;background: var(--gradient3);letter-spacing: -1px;}
.pl2img:hover{filter:none;}
.pl2l1{height: 1px;width: 100%;background: var(--transp6);margin: 0 auto;}
.pl2bck{background: var(--gradient3);border-radius: 15px;position: relative;z-index: -2;width: 680px;margin: auto;}
.cadrepl2{background: var(--gradient3);width: 680px;border-radius: 15px;margin: auto;}

/*****pl 3******/

.szpl3{width: 670px;margin: 0 auto;border-radius: 15px;border: 10px solid var(--bw2);background: var(--bw1);}
.pl3ht{max-height: 327px;display: flex;}
.pl3sg{margin-top: -2px;padding: 22px 13px 22px 13px;}
.pl3grp{display: grid;grid-gap: 10px;grid-template-columns: auto auto;}
.pl3img{filter: grayscale(1) brightness(0.8);opacity: .9;width: 120px;height: 120px;object-fit: cover;}
.pl3ctitle{display: flex;flex-direction: column;margin-top: -16px;}
.pl3title{font-family: var(--font1);text-transform: lowercase;letter-spacing: -3px;font-size: 35px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;position: relative;z-index: 1;max-width: 251px;line-height: 30px;}
.pl3st{font-family: var(--stfont);text-transform: uppercase;font-size: 12px;background: var(--bw2);padding: 10px;margin-top: -4px;position: relative;z-index: 0;border-radius: 5px;border: 1px solid var(--bw4);max-width: 249px;width: 100%;}
.pl3bloc{z-index: 1;align-items: center;display: flex;width: 145px;height: 88px;border: 2px solid var(--bw2);background: var(--transp9);border-radius: 5px;backdrop-filter: blur(2px);padding: 12px;box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;position: absolute;margin-top: 123px;margin-left: 174px;}
.pl3btxt{font-weight: bold;overflow: scroll;width: fit-content;font-size: 12px;text-align: justify;}
.pl3btxt::-webkit-scrollbar{display: none;}
.pl3crc{position: absolute;background: var(--gradient3);z-index: 2;height: 30px;width: 30px;padding: 8px;border-radius: 100%;margin-top: 116px;margin-left: 165px;outline: 1px solid var(--bw4);}
.pl3sd{width: 358px;background: var(--bw2);padding: 30px;margin-top: 20px;border-radius: 5px;border: 1px solid var(--bw4);height: auto;}
.pl3cat{height: auto;padding: 5px 20px;border: 1px solid var(--bw4);position: absolute;margin-top: 10px;margin-left: 519px;font-family: var(--font1);text-transform: lowercase;font-size: 12px;color: var(--bw4);line-height: 100%;border-radius: 15px;background: var(--gradient3);letter-spacing: -1px;}
.pl3aes{overflow: scroll;width: 266px;height: 253px;margin: auto;text-align: justify;padding: 10px;}
.pl3aes::-webkit-scrollbar{display: none;}
.gpl3{background: var(--gradient3);width: 680px;border-radius: 15px;margin: auto;}
.pl3stcat2{height: auto;padding: 5px 20px;border: 1px solid var(--bw4);position: absolute;margin-top: -12px;margin-left: 540px;font-family: var(--font1);text-transform: lowercase;font-size: 12px;color: var(--bw4);line-height: 100%;border-radius: 15px;background: var(--gradient3);letter-spacing: -1px;}
.pl3time{border-radius: 5px;padding: 20px 20px 14px 20px;width: 623px;margin: auto;background: var(--bw2);border: 1px solid var(--bw4);white-space: nowrap;overflow: auto;}
.pl3timec{background: var(--bw5);height: 150px;width: 173px;border-radius: 5px;border: 1px solid var(--transp8);padding: 10px;position: relative;overflow: hidden;display: inline-block;}
.pl3time::-webkit-scrollbar{height: 5px;}
.pl3year{font-family: var(--font1);text-transform: lowercase;letter-spacing: -1px;font-size: 20px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;margin-bottom: -9px;}
.yeardesc{font-size: 12px;padding: 10px;white-space: normal;text-align: justify;line-height: 13px;width: 150px;height: 70px;}
.pl3mb{gap: 15px;width: 623px;margin: auto;border-radius: 5px;display: grid;grid-template-columns: auto auto;margin-bottom: 20px;}
.pl3mb1{width: 304px;display: flex;gap: 15px;padding: 10px 19px 10px 10px;background: var(--bw2);border: 1px solid var(--bw4);border-radius: 5px;}
.mb1img{border: 1px solid var(--transp6);padding: 5px;height: 60px;width: 60px;object-fit: cover;border-radius: 100%;filter: grayscale(1) brightness(0.8);opacity: .9;transition:300ms}
.mb1img:hover{filter:none;}
.mb1alias{font-family: var(--font1);text-transform: lowercase;letter-spacing: -1px;font-size: 20px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.mb1l{height: 1px;background: var(--transp6);outline: 2px solid var(--bw4);margin-top: 5px;margin-bottom: 5px;}
.mb1desc{overflow: scroll;width: auto;height: 150px;margin: auto;text-align: justify;}
.mb1desc::-webkit-scrollbar{display:none}
.pl3pres{font-family: var(--font1);text-transform: lowercase;letter-spacing: -2px;font-size: 25px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;float: right;margin-top: -15px;margin-right: 27px;}
.pl3lstblc{border-radius: 5px;padding: 20px 20px 14px 20px;width: 623px;margin: auto;background: var(--bw2);border: 1px solid var(--bw4);}
.lstblctxt{overflow: scroll;width: fit-content;height: 107px;text-align: justify;padding: 10px;}
.lstblctxt::-webkit-scrollbar{display:none}
.pl3mention a {color: var(--transp6)!important;font-size: 14px;font-family: var(--font2);color:var(--transp6)!important;font-size:15px}
.pl3mention {color: var(--transp6)!important;font-size: 14px;font-family: var(--font2);color:var(--transp6)!important;font-size:15px}
.pl3mbn{display: flex;gap: 10px;align-items: baseline;}

/*****code rp 1 ******/

.szrp4{width: 650px;background: var(--bw1);display: flex;align-items: center;border: 10px solid var(--bw2);border-radius: 10px;gap: 15px;outline: 1px solid var(--transp8);margin: 0 auto;}
.rp4img{border-right: 1px solid var(--bw2);width: 250px;height: 520px;object-fit: cover;filter: grayscale(1) brightness(0.8);border-radius: 5px 0px 0px 5px;}
.rp4cd{width: 200px;min-height: 90px;background: var(--bw2);border: 1px solid var(--transp8);position: absolute;margin-left: 25px;margin-top: -210px;border-radius: 5px;padding: 10px;}
.rp4title{background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;font-family: var(--font1);font-size: 25px;letter-spacing: -2px;text-transform: lowercase;}
.rp4bt{align-items: center;display: flex;justify-content: space-evenly;margin-top: 8px;}
.rp4inf{padding: 2px 9px;background: var(--bw4);border: 1px solid var(--transp8);border-radius: 10px;font-size: 12px;font-weight: 900;letter-spacing: -.5px;}
.rp4inf a{color: var(--textColorAccent) !important;font-size: 12px;font-weight: 900;letter-spacing: -.5px;}
.rp4rgt{background: var(--bw2);padding: 50px;width: 350px;height: 475px;text-align: justify;border-radius: 5px;border: 1px solid var(--transp8);}
.rp4txt::-webkit-scrollbar{display: none;}
.rp4txt{position: absolute;overflow: scroll;width: 250px;height: 375px;}
.rp4credit{font-size: 9px;color: var(--transp6);letter-spacing: 5px;top: 4px;position: relative;}

/*****code rp 2 ******/

.szrp3{width: 430px;outline: 1px solid var(--bw4);outline-offset: 5px;border: 1px solid var(--transp8);background: var(--bw1);border-radius: 5px;margin: 0 auto;overflow: hidden;padding-bottom: 20px;}
.szrp3head{overflow: hidden;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;height: 135px;position: relative;}
.szrp3title{background-image: var(--gradient3);color: transparent;-webkit-background-clip: text;font-family: var(--font1);line-height: 100px;font-size: 140px;letter-spacing: -15px;text-transform: uppercase;opacity: .8;position: absolute;width: 490px;}
.szrp3ic{position: absolute;margin-top: -105px;margin-left: 120px;}
.szrp3img{filter: grayscale(1);border-radius: 10px;width: 70px;background-size: cover;transition: 300ms;border: 5px solid var(--bw2);height: 70px;margin-bottom: 11px;margin-right: 30px;outline: 1px solid var(--transp6);outline-offset: 2px;object-fit: cover;}
.szrp3body{background: var(--bw2);padding: 20px;text-align: justify;width: 368px;margin: auto;border-radius: 5px;border: 1px solid var(--bw4);}
szrp3tag a{font-size: 12px;font-family: var(--font1);text-transform: uppercase;color: var(--transp6)!important;}
szrp3tag{font-size: 12px;font-family: var(--font1);text-transform: uppercase;color: var(--transp6)!important;}

/*****code rp 3 ******/

.szbd1{background: var(--bw1);width: 470px;display: flex;border: 8px solid var(--bw2);outline: 1px solid var(--bw4);outline-offset: 5px;border-radius: 10px;gap: 12px;}
.szfirst{background: var(--gradient3);padding: 11px;border-radius: 5px 0px 0px 5px;}
.szig1{margin-top: 20px;width: 65px;height: 65px;border-radius: 100%;object-fit: cover;filter: grayscale(1);border: 8px solid var(--bw2);outline: 1px solid var(--bw2);outline-offset: 2px;}
.sztl1{font-family: var(--font1);font-size: 30px;float: right;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;margin-right: 2px;letter-spacing: -2px;position: relative;}
.szrp1{background: var(--bw2);width: 345px;padding: 20px;text-align: justify;border: 1px solid var(--transp8);border-radius: 5px;margin: auto;}
.szft{float: right;font-family: var(--font1);color: var(--transp6);font-size: 11px;margin-right: 5px;}
.szft a{color: var(--transp6)}
.szbd2 {margin: auto;background: var(--bw1);width: 400px;border: 8px solid var(--bw2);outline: 1px solid var(--bw4);outline-offset: 5px;border-radius: 10px;}
.sztl2 {font-family: var(--font1);font-size: 20px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;letter-spacing: -1.5px;position: relative;}
.szft1 {position: relative;z-index: 2;font-family: var(--font1);color: var(--transp6);font-size: 11px;margin-top: -20px;}
.szft1 a{color: var(--transp6)!important;}
.szhaut{height: 70px;display: grid;justify-content: end;justify-items: end;margin-right: 20px;margin-top: 20px;}

/*****mentor******/

.mentorbody{padding: 20px;margin: auto;}
.mentorgrid{display: grid;gap: 60px;grid-template-columns: auto auto;justify-content: space-evenly;}
.mentorcard{width: 220px;height: 200px;background: var(--bw2);border-radius: 10px;border: 1px solid var(--bw4);outline: 1px solid var(--bw4);outline-offset: 10px;}
.mentorhaut{margin-bottom: 10px;display: flex;gap: 0px;align-items: center;padding: 10px;justify-content: space-evenly;}
.mentorname{font-family: var(--font1);text-transform: uppercase;letter-spacing: -1px;font-size: 18px;background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.mentoric{max-height: 60px;max-width: 60px;border-radius: 100%;object-fit: cover;filter: grayscale(1);border: 5px solid var(--bw4);outline: 1px solid var(--transp6);outline-offset: 2px;}
.élèvename{letter-spacing: -.5px;margin-bottom: -15px;border-radius: 5px;background: var(--bw5);padding: 3px;width: 189px;border: 1px solid var(--transp8);font-size: 12px;}
.mentorclass{font-family: var(--stfont);font-size: 12px;color: var(--transp6);text-transform: uppercase;}

/*****carnet de bord******/

.szcb{width: 650px; margin: 0 auto; border-radius: 15px; outline: 10px solid var(--bw2); background: var(--bw1); display: flex; border: 1px solid var(--transp6);}
.szcbl{display: grid; gap: 15px; padding: 15px; border-right: 1px solid var(--transp6);}
.szcbimg{border: 8px solid var(--bw2); height: 120px; outline: 1px solid var(--transp6); width: 120px; object-fit: cover; border-radius: 10px; transition: 300ms;}
.szcbr{width: 500px;padding: 15px;}
.szcbh{justify-items: end;display: grid; border: 1px solid var(--transp6); border-radius: 5px; padding: 15px; background: var(--bw2);}
.szcbt{text-align: right; font-size: 50px; font-style: italic; font-family: var(--font1); text-transform: lowercase; letter-spacing: -5px; background-image: linear-gradient(60deg, var(--gradient)); color: transparent; -webkit-background-clip: text; padding-right: 10px; margin-bottom: 15px;}
.szcbm{margin: auto; display: flex; gap: 15px;}
.szcbm1{padding: 2px 9px; border: 1px solid var(--transp6); border-radius: 10px; font-size: 12px; font-weight: 900; letter-spacing: -.5px; color: var(--textColorAccent); cursor: pointer;}
.szcbc{background: var(--bw2); outline: 1px solid var(--transp6); border-radius: 5px; padding: 15px;}
.sztxt{overflow: scroll; width: auto; height: 100px; margin: auto; text-align: justify;}
.szcbm1::before{content: "\eb02"; font-size: 12px; font-family: 'cappuccicons'; margin-right: 8px;background-image: linear-gradient(60deg, var(--gradient)); color: transparent; -webkit-background-clip: text;}
.sztxt::-webkit-scrollbar{display: none;}.szcbl1{height: 1; width: 106.5%; background: var(--transp6); position: relative; margin-right: -14px; margin-bottom: 15px;}
.szcbg{background: var(--gradient3); padding: 15px; width: 680px; margin: auto; border-radius: 30px;}
.szcbl2{height: 1; width: 500px; background: var(--transp6); margin-left: -14px; margin-top: 55px; margin-bottom: -20px;}
.szcbic{display: flex; gap: 50px; justify-content: center; align-items: center;}
.bckic{background: var(--bw2); padding: 8px; border-radius: 50px; outline: 1px solid var(--transp6); height: 46px;}

/*****album carte******/

.galbum{width: 675px; background: var(--gradient3); border-radius: 15px; margin: 50px auto 0 auto; outline-offset: -20px; }
.album{ margin: 0 auto; background: var(--bw1); border-radius: 15px; width: 665px; border: 15px solid var(--bw2);}
.albhaut{display: flex; flex-direction: column; align-items: center; margin-top: -50px;}
.alimg{ filter: grayscale(1); border-radius: 100%; width: 80px; transition: 300ms; height: 80px; margin-bottom: 20px; border: 15px solid var(--bw2); object-fit: cover; outline: 1px solid var(--transp6);}
.alltitre{ transition: 300ms; font-family: var(--titlefont2); font-size: 18px; text-transform: UPPERCASE; background-image: var(--gradient3); color: transparent; -webkit-background-clip: text; }
.cllctntt1::after { content: ''; width: 100%; height: 1px; background: var(--transp6); }
.cllctntt1::before { content: ''; width: 100%; height: 1px; background: var(--transp6); }
.cllctntt1{display: flex;align-items: center;}
.cllctntt2{text-transform: uppercase;font-size: 15.5px;margin-right: 12px;}
.cllctntt { margin-left: 12px; font-size: 15px; font-family: var(--font1); text-transform: uppercase; letter-spacing: -1px; color: var(--textColorAccent); margin-right: 5px; width: 170px; }
.carterang{display: grid; grid-gap: 20px 10px; grid-template-columns: auto auto auto auto auto; justify-content: space-evenly; justify-items: center;}
.carteimg{height: 150px;outline: 2px solid var(--bw4);outline-offset: 3px;}
.rglsny{animation: fadeIn 1s;}

/*****single heroes******/

.shbg{background: var(--gradient3); margin: auto; width: 520px; border-radius: 10px;}
.shback{margin: auto; background: var(--bw1); width: 510px; border: 8px solid var(--bw2); border-radius: 10px; padding: 20px;}
.sh1{display: flex; align-items: flex-end; gap: 15px;}
.shimg1{padding: 5px; border-radius: 5px; outline: 1px solid var(--transp6);}
.shimg2{width: 220px;transition: 300ms;height: 300px; object-fit: cover; border: 5px solid var(--bw2);}
.shg{background: var(--gradient3); padding: 8px; position: absolute;margin-bottom: 175px;margin-left: 155px; border: 1px solid var(--bw4); border-radius: 5px;}
.shname{background: var(--bw2); width: 280px; height: 100px; border-radius: 5px; outline-offset: 5px; display: flex; align-items: center; justify-content: center;}
.shname1{background-image: var(--gradient3); color: transparent; -webkit-background-clip: text; font-family: var(--titlefont2); font-size: 20px; text-transform: uppercase;}
.shinfo{background: var(--bw2); padding: 20px 10px 20px 10px; width: 205px; position: relative; top: -5px; border-radius: 5px; border: 1px solid var(--transp8);}
.shinfo2{display: grid; grid-gap: 15px;}
sgi1{letter-spacing: -.5px; font-family: var(--font1); text-transform: uppercase; color: var(--couleur1);}
sgi2{letter-spacing: -.5px; font-family: var(--font1); text-transform: uppercase; color: var(--couleur2);}
.shtitle{letter-spacing: -.5px; font-family: var(--font1); background: linear-gradient(60deg, var(--gradient)); font-size: 12px; color: var(--bw2); text-transform: uppercase; border-radius: 5px; padding: 5px 10px; border: 1px solid var(--bw4); margin-bottom: 10px;}
.shintro2{background: var(--bw2); padding: 10px; border-radius: 5px; outline: 1px solid var(--transp6); text-align: justify;}
.shimg2:hover{filter: grayscale(1);}
shcred{font-family: var(--stfont); text-transform: uppercase; font-size: 12px; color: var(--transp6);}

.sgl1{display: flex; align-items: center; justify-content: flex-start; background: var(--bw2); padding: 0 20px 0 0; border-radius: 5px; border: 1px solid var(--bw4);}
.sglnm{text-align: center;position: relative; font-family: var(--titlefont2); text-transform: uppercase; background-image: var(--gradient3); color: transparent; -webkit-background-clip: text;}
.shduo{margin: auto; background: var(--bw1);width: max-content; border: 8px solid var(--bw2); border-radius: 10px; padding: 10px;}
.sglimg1{-webkit-mask-image: linear-gradient(90deg, var(--bw1), transparent 80%); height: 100px; filter: grayscale(1) brightness(0.6); object-fit: cover;}
.sgl2{display: flex; align-items: center; justify-content: flex-end; background: var(--bw2); padding: 0 0 0 20px; border-radius: 5px; border: 1px solid var(--bw4);}
.sglimg2{-webkit-mask-image: linear-gradient(270deg, var(--bw1), transparent 80%); height: 100px; filter: grayscale(1) brightness(0.6); object-fit: cover;}
.shimg{display: grid;gap: 10px;}.gsh{background: var(--gradient3); margin: auto; width: fit-content; border-radius: 10px; padding: 0 5px;}
sgdt{letter-spacing: -.5px;font-family: var(--font1);background: var(--bw2);font-size: 10px;color: var(--textcolorAccent);text-transform: uppercase;border-radius: 10px;padding: 3px 10px;}
.sglinfo{display: flex;gap: 10px;justify-content: center;}

.creddesc {font-size: 12px;text-align: justify;background: var(--bw2);padding: 20px;border-radius: 38px 5px 5px 5px;border: 1px solid var(--transp8);}
credname {letter-spacing: -.5px;font-family: var(--font1);text-transform: uppercase;font-size: 12px;}
.credic:hover{filter: grayscale(1);}
.credic {transition:300ms;outline: 1px solid var(--transp6);outline-offset: 1px;height: 70px;width: 70px;border-radius: 100%;object-fit: cover;border: 5px solid var(--bw2);float: left;margin-right: 12px}
.icintw:hover{filter: grayscale(1);}
.icintw {transition:300ms;outline: 1px solid var(--transp6);outline-offset: 1px;height: 70px;width: 70px;border-radius: 100%;object-fit: cover;border: 5px solid var(--bw2);}
.bullintw { margin-top: 5px; border: 1px solid var(--bw2); cursor: pointer; background: var(--gradient3); border-radius: 30px 5px 30px 30px; padding: 20px; color: var(--bw2); width: 308px; text-align: left; }
.bulldh {margin-top: 5px;width: 308px;border: 1px solid var(--transp8);cursor: pointer;background: var(--bw2);border-radius: 5px 30px 30px 30px;padding: 20px;color: var(--textColorAccent);}dh1 {text-transform: uppercase;color: var(--textColorAccent);font-family: var(--font1);letter-spacing: -.5px;} .1bulle {float: left;text-align: left;}
.firstnews {text-align: justify;}
.intronews {text-align: justify!important;font-weight: bold;font-size: 15px;}
datnews{color: var(--transp6);float: left;font-family: var(--font2);}
ext{background-image: linear-gradient(60deg, var(--gradient));color: transparent;-webkit-background-clip: text;}
.ntitle {color: var(--textColorAccent);font-family: var(--font1);text-transform: uppercase;font-size: 28px;text-align: justify;letter-spacing: -1px;}
labelnews {cursor: pointer;float: left;text-align: left;color: var(--couleur1);text-transform: uppercase;font-family: var(--stfont);font-size: 14px;}
flagnews{cursor: pointer;background: var(--gradient3);color: #fefefe;font-size: 18px;padding: 8px;width: 107px;font-weight: 700;float: left;font-family: var(--font1);letter-spacing: -.5px;}
.titredaily{color: var(--bw2);text-transform: uppercase;text-align: left;font-family: var(--titlefont2);font-size: 45px;line-height: 35px;padding: 10px;}
.hautdaily{background: var(--gradient3);width: 665px;height: 183px;padding: 25px 25px 30px 25px;border: 2px solid var(--bw2);}
#daily_magnifier::before {font-family: 'cappuccicons';content: '\ec5f';font-size: 20px;color: var(--bw1);font-weight: 600;position: absolute;margin-left: 270px;margin-top: -89px;cursor: pointer;}
.l1daily{height: 5px;width: 100%;background: var(--bw2);}
.menudaily_li{cursor: pointer;color: var(--bw2);text-transform: uppercase;font-size: 14px;font-family: var(--font1);letter-spacing: -.5px;}
.menudaily{display: flex;justify-content: center;gap: 37px;padding: 20px;}
.barredaily1{background: var(--bw1);width: 665px;border: 2px solid var(--bw2);height: 39px;border-bottom: none;}
.barredaily2{background: var(--bw2);width: 630px;height: 20px;margin-top: 8px;border-radius: 10px;border: 1px solid var(--transp6);}
.adressedaily{cursor: text;text-align: left;padding-left: 10px;font-family: var(--stfont);color: var(--transp6);margin-top: 2px;}
.disabled{pointer-events: none;text-decoration: none;}
.dailybody{background: var(--bw1);border-radius: 0px 0px 15px 15px;width: 665px;padding: 25px 25px 30px 25px;border: 2px solid var(--bw2);border-top: none;}
.adsdaily2{position: absolute;background: var(--transp5);padding: 5px;font-family: var(--stfont);margin-left: 8px;margin-top: 10px;color: var(--textColorAccent);}
.adsdaily{display: flex;}.adsdailyimg{height: 118px;width: 200px;object-fit: cover;border-radius: 5px;transition: 300ms;border: 5px solid var(--bw2);}
.adsdesc1{cursor: pointer;padding: 4px;position: absolute;width: 200px;text-align: justify;font-family: var(--stfont);font-size: 13px;}
.dailyimg1:hover{filter: grayscale(1);}
.dailyimg1{transition:300ms;width: 610px;object-fit: cover;border-radius: 5px;transition: 300ms;border: 5px solid var(--bw2);outline: 1px solid var(--transp8);}
.headline{position: absolute;width: 610px;margin-top: -200px;padding: 22px;line-height: 15px;cursor: pointer;}
.descmainnews{color: #fefefe;text-transform: uppercase;margin-top: -9px;}
.labelmainnews{text-align: left;color: var(--couleur1);margin-top: 14px;text-transform: uppercase;font-family: var(--stfont);font-size: 14px;}
.subnews{display: flex;gap: 24px;}
.dailyimg2{width: 367px;object-fit: cover;border-radius: 5px;transition: 300ms;border: 5px solid var(--bw2);}
.subnews2{display: flex;flex-direction: column;}
.dailyimg3{width: 222px;height: 96px;object-fit: cover;border-radius: 5px;transition: 300ms;border: 5px solid var(--bw2);}
.headline2{cursor: pointer;background: var(--bw2);padding: 10px;border-radius: 5px;}
.subnewsdesc1{text-align: justify;font-size: 14px;}
.subnewslabel2{text-align: left;color: var(--couleur1);margin-top: 14px;text-transform: uppercase;font-family: var(--stfont);font-size: 14px;}
.headline3{cursor: pointer;background: var(--bw2);padding: 8px;border-radius: 5px;}
.subnewsdesc2{font-size: 12px;text-align: justify;}
.l1daily2{height: 1px;width: 100%;background: var(--transp6);}

.rpbck{max-width: 475px; margin: 0 auto; padding: 20px; box-sizing: border-box; background: var(--bw2); border-radius: 5px;}
.rpis{float: left; margin: 0 12px 12px 0;}
.is{justify-items: center;display: grid; grid-gap: 8px; grid-template-columns: auto auto; align-items: center}
.rptxt{margin: 0 auto; text-align: justify; font-family: var(--font2);}
rptt{padding: 2px 9px; font-size: 14px; font-family: var(--font1); letter-spacing: 1px; text-transform: uppercase; background-image: linear-gradient(60deg, var(--gradient)); color: transparent; -webkit-background-clip: text;}
.is1{height: 60px;width: 60px;filter: grayscale(1);}
.taghover{z-index: 10; position: absolute; opacity: 0; overflow-x: hidden; overflow-y: hidden; transition: all .4s ease-in-out; text-align: center; width: 60px; height: 60px; display: flex; align-items: center; justify-content: flex-end; margin-top: -40px; margin-left: -20px; background: var(--bw2);}
.taghover:hover {opacity: 1;}
intro{font-size: 9px; font-family: var(--font1); letter-spacing: 1px; text-transform: uppercase; line-height: 15px;}
