/****fiche présentation****/
.pres1{background: var(--neutralDark);border: var(--whiteborder);height: 325px;width: 266px;border-radius: 15px;text-align: justify;padding: 30px;margin-top: -364px;margin-left: 170px;overflow: auto;} 
.pres2{background: var(--neutralDark);border: var(--whiteborder);height: 242px;width: 490px;margin-left: -70px;border-radius: 15px;text-align: justify;padding: 37px;overflow: auto;} 
.pres3{background: var(--neutralDark);border: var(--whiteborder);height: 90px;width: 490px;margin-left: -58px;border-radius: 15px;text-align: justify;padding: 37px;overflow: auto;} 
.whitecircle{height: 38px;width: 38px;border: var(--whiteborder);display: inline-block;margin-top: -39px;margin-inline: 6px;border-radius: 50px;background: var(--transp2);transition: 300ms;} 
.cwtw{width: 550;height: 40px;background: var(--transp2);border-radius: 15px;padding: 5px;} 
.details{width: 550px;background: var(--neutralDark);border-radius: 15px;border: 1px solid #aaa;padding: 0.5em 0.5em 0;} 
.summary{width: 550px;background: var(--neutralDark);border-radius: 15px;font-weight: bold;margin: -0.5em -0.5em 0;padding: 0.5em;} 
.details[open]{width: 550px;background: var(--neutralDark);border-radius: 15px;padding: 0.5em;} 
.details[open] summary{width: 550px;background: var(--neutralDark);border-radius: 15px;border-bottom: 1px solid #aaa;margin-bottom: 0.5em;}
.backs {background: var(--transp2);border-radius: 0px 0px 15px 15px;width: 508px;}


.sujet1{margin:auto;} 
.backsujet{background: var(--transp2);border-radius: 30px;border: 1px solid var(--whiteborder2);width:500px;padding: 30px;margin-bottom: 8px;}aes1{line-height: 3;background: var(--accentClr);letter-spacing: 1px;font-size: 12px;text-transform: uppercase;border-radius: 5px;padding: 3px;font-weight: 800;} 
.topicbody{background: var(--transp2);border-radius: 30px;width:400px;padding: 30px;margin-bottom: 8px;}
.topicbody2{background: var(--transp2);border-radius: 30px;width:550px;padding: 30px;margin-bottom: 8px;}
