/****trucs bottin****/
 .lebobottin{margin-top: 10px;}
.faceclaim{float: left!important;font-family: var(--titlefont2);font-size: 12px;text-transform: uppercase}
.personnage{float: right!important;font-family: poppins;text-transform: uppercase;font-weight: 700;font-size: 12px;margin-top: -6px;background: var(--neutralDark);padding: 4px;border-radius: 20px;}
.resa{float: right!important;font-family: poppins;text-transform: uppercase;font-weight: 700;font-size: 12px;margin-top: -1px;padding: 4px;color: var(--couleur1);}


/****fiche présentation bis****/
.pres1{background: var(--neutralDark);border: var(--whiteborder);height: 334px;width: 426px;border-radius: 10px;text-align: justify;padding: 30px;margin-top: -354px;overflow: auto;} 
.pres2{background: var(--neutralDark);border: var(--whiteborder);height: 238px;width: 637px;border-radius: 10px;text-align: justify;padding: 37px;overflow: auto;animation: apparitionpa 1s forwards;} 
.pres3{background: var(--neutralDark);border: var(--whiteborder);height: 90px;width: 539px;border-radius: 10px;text-align: justify;padding: 19px;overflow: auto;margin-left: 101px;} 
.whitecircle{height: 38px;width: 38px;border: var(--whiteborder);display: inline-block;margin-top: -39px;margin-inline: 6px;border-radius: 50px;background: var(--transp2);transition: 300ms;} 
.cwtw{width: 550;height: 40px;background: var(--transp2);border-radius: 10px;padding: 5px;} 
.details{width: 550px;background: var(--neutralDark);border-radius: 10px;border: 1px solid #aaa;padding: 0.5em 0.5em 0;} 
.summary{width: 550px;background: var(--neutralDark);border-radius: 10px;font-weight: bold;margin: -0.5em -0.5em 0;padding: 0.5em;} 
.details[open]{width: 550px;background: var(--neutralDark);border-radius: 10px;padding: 0.5em;} 
.details[open] summary{width: 550px;background: var(--neutralDark);border-radius: 10px;border-bottom: 1px solid #aaa;margin-bottom: 0.5em;}
.backs {background: var(--transp2);border-radius: 0px 0px 10px 10px;width: 508px;}
.imgfiche {transition: 300ms;}
img.imgfiche:hover {background: var(--transp2);filter: grayscale(1);opacity: 1;}
.l1prez{ height: 2;width: 80%;background: linear-gradient(110deg, transparent,var(--gradient), transparent);color: var(--textColor);}
.iconsjt {display: flex;flex-direction: column;float: left;margin: -3px 15px 0 0;}
.ecdsjt {background: var(--bw2);padding: 20px;border-radius: 5px;outline: 1px solid var(--transp6);outline-offset: 2px;animation: fadeIn 1s;}
/****fin pres****/

/*****rp & trucs******/
.sujet1{margin:auto;}
.topicbody{background: var(--transp2);border-radius: 10px;width:400px;padding: 30px;margin-bottom: 8px; box-shadow: 0px 0px 8px -10px black;}
.topicbody2{background: var(--transp2);border-radius: 10px;width:550px;padding: 30px;margin-bottom: 8px; box-shadow: 0px 0px 8px -10px black;}
.topicbody4{margin: 0 auto;background: var(--bw1);border-radius: 15px;width: 665px;padding: 25px 25px 30px 25px;outline: 1px solid var(--bw2);outline-offset: -20px;border: 15px solid var(--bw2);}

.rphead1 {margin-top: 25px;gap: 15px;display: flex;align-items: center;}
.rphead2 {text-align: initial;margin-left: 56px;margin-top: 0px;color: var(--couleur1);width: 123px;padding-left: 7px;font-family: serif;border-left: 1px solid var(--couleur1);font-style: italic;}
.rphead3 {border: 1px solid var(--couleur1);border-radius: 10px;padding: 6px;background: var(--neutral);text-align: -webkit-center;}

.topicbody3::before {margin-top: 500px;font-size: 22px;margin-left: -210px;}
.topicbody3::before, .topicbody3::after {content: '\002726';position: absolute;font-style: normal;color: var(--couleur1);}
.topicbody3::after {margin-top: -535px;font-size: 40px;margin-left: 185px;}
.topicbody3{background: var(--transp2);border-radius: 15px;width:400px;padding: 30px;margin-bottom: 8px; box-shadow: 0px 0px 8px -10px black;}

.rphead9 {margin-top: 25px;gap: 15px;display: flex;align-items: center;}
.rphead4 {text-align: initial;margin-top: 0px;height: 64px;margin-left: -16px;padding-left: 7px;border-left: 1px solid var(--couleur1);}
.rphead3 {border: 1px solid var(--couleur1);border-radius: 10px;padding: 6px;background: var(--neutral);text-align: -webkit-center;}
.headrpcenter{display: flex;place-content: center;}
.textdeco1::before {content: "「";margin-left: -214px;font-weight: bold;position: absolute;margin-top: -12px;font-size: 20px;}
.textdeco1::after {position: absolute;font-weight: bold;content: "」";font-size: 20px;margin-left: 200px;margin-top: -30px;}

.rpcarnetdetails {display: grid;grid-template-columns: 150px 150px 150px;}.rpcarnetdetails span {display: block;margin: 0 0 10px;font-size: var(--body-size);border-radius: 15px;}
.heartmessage1 {content: url(https://images2.imgbox.com/94/3e/5P6ziEC0_o.png);height: 50px;float: right;margin-left: 15px;margin-top: -7px;}
:root {--heartmessage1:url(https://images2.imgbox.com/94/3e/5P6ziEC0_o.png); }
[data-color-scheme="dark"] {--heartmessage1:url(https://images2.imgbox.com/39/2e/GSwQFiu1_o.png);} 
 @media (prefers-color-scheme: dark) {   [data-color-scheme=dark] {--heartmessage1:url(https://images2.imgbox.com/39/2e/GSwQFiu1_o.png);} }
 /****fin rp trucs****/

/****fin post insta****/
                                      
.text4 {text-align: justify;margin-top: 20px;font-size: 12px;background: var(--neutralDark);border-radius: 10px;padding: 17px;width: 320px!important;margin-left: 14px;}
.datuminsta{background: linear-gradient(60deg, var(--gradient));letter-spacing: 1px;font-size: 9px;color: #ffffff;text-transform: uppercase;border-radius: 10px;padding: 3px;} 
                                      
.instaphotos1 {margin-top: 7px;display: flex;justify-content: space-around;}
.banpost2{text-align: justify;font-size: 12px;width: 500px;height: 186px;background: var(--transp2);border-radius: 0px 0px 15px 15px;padding: 17px;margin-left: -2px;margin-top: -194px;} 
.text5{margin-top: 20px;margin-left: -4px;position: absolute;text-align-last: left;width: 443px!important;} 
.instaid3{font-family: poppins;position: absolute;font-size: 16px;color: var(--textColor);margin-left: 48px;letter-spacing: -0.2px;} 
.iconinstapost{max-width: 50px;border-radius: 50px;margin-top: -12px;margin-left: -11px;background-attachment: fixed;max-height: 70px;border: 4px solid var(--neutralDark);float: left;}
img.postimg2 {width: 500px;object-fit: cover;}
.iconignotif{max-width: 65px;border-radius: 50px;margin-top: 7px;position: absolute;margin-left: -224px;background-attachment: fixed;max-height: 65px;border: 4px solid var(--neutralDark);float: left;}
.idnotif{font-family: 'Poppins';font-size: 14px;color: var(--textColor);font-weight: 500;letter-spacing: -0.2px;background-image: var(--gradient3);color: transparent;-webkit-background-clip: text;}
idnotif{font-family: 'Poppins';font-size: 14px;color: var(--textColor);font-weight: 500;letter-spacing: -0.2px;background-image: var(--gradient3);color: transparent;-webkit-background-clip: text;}
.ignotif {text-align: justify;margin-top: -17px;font-size: 14px;background: var(--neutralDark);border-radius: 10px;padding: 17px;width: 354px!important;margin-left: 54px;}

.slider1{background-color: var(--neutralDark);height: 50px;padding: 10px;text-align: justify;border-radius: 10px;overflow: auto;transition: 300ms;}.slider1:hover{height:200px;}
.slider2{background-color: var(--neutralDark);height: 55px;padding: 10px;text-align: justify;border-radius: 10px;overflow: auto;transition: 300ms;}.slider2:hover{height:200px;}

.repertoire1 {display: flex;height: 132px;background: var(--transp2);border-radius:15px;padding:10px;margin-bottom:8px;box-shadow: 0px 2px 12px -10px black;}
.rep2 {padding: 10px;}
.rep3 {background: var(--neutralDark);border-radius: 10px;padding: 10px;width: 255px;margin-top: 8px;overflow: auto;height: 70px;}
.répertoirefull {height: 300px;overflow: auto;border: 1px solid var(--couleur1);border-radius: 15px;}

.container42 {width: 422px;margin: auto;}
.quote1 {background-image: var(--gradient3);color: transparent;-webkit-background-clip: text;font-size: 400px;opacity: 0.5;margin-left: 366px;margin-bottom: -363px;position: relative;z-index: 1;font-family: 'Wasted Vindey';}
.textquote {position: relative;text-align: justify;z-index: 2;}

.points a {color:var(--textColor)!important}
.btq{transition: 300ms;display: flex;border-radius: 5px;border: 1px solid var(--transp8);margin-bottom: -15px;flex-direction: column;}
.hbtq{transition: 300ms;grid-template-columns: auto auto;display: grid;align-items: center;background: var(--bw2);padding: 10px;border-radius: 5px 5px 0px 0px;border-bottom: 1px solid var(--transp8); margin-bottom: -21px;justify-items: stretch;justify-content: space-between;}
.descbtq{font-size: 12px;background: var(--bw5);text-align: justify;padding: 10px;}
.item{text-transform: uppercase;font-family: var(--font1);color: var(--couleur1);background-color: var(--couleur1);background-image: var(--gradient3);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-size: 14px;letter-spacing: -1px;}
.points{text-transform: uppercase;font-size: 12px;border-radius: 2px;border: 1px solid var(--transp6);font-family: var(--font2);padding: 2px 9px;letter-spacing: 1px;}
.pbottin {display: grid;gap: 10px;line-height: 10px;} .pname {display: grid;gap: 10px;grid-template-columns: auto 1fr;} 
.pname::after {content: '';border-bottom: 1px solid var(--transp8);}
.pname2 {text-transform: uppercase;font-size: 12px;border-radius: 2px;border: 1px solid var(--transp6);font-family: var(--font2);padding: 2px 9px;letter-spacing: 1px;}

.rpcarnetdetails2 {display: grid;grid-template-columns: 170px 170px 170px;line-height: 30px;background: var(--transp5);justify-content: center;padding: 10px;border-radius: 10px;outline-offset: 2px;outline: 1px solid var(--neutralDark);}
.listbanner{margin: auto;height: 73px;padding-left: 20px;background: var(--gradient3);width: 1000px;border: 1px solid var(--bw2);border-radius: 15px 15px 0 0;}
.listbody {width: 1000px;background: var(--transp5);height: auto;margin: auto;padding: 50px;border-radius: 0px 0px 15px 15px;backdrop-filter: blur(2px);outline: 1px solid var(--bw2);outline-offset: -20px;border: 15px solid var(--bw2);}
.bookongdet{float: right;margin: 15px;font-size: 12px;gap: 10px;display: flex;color: var(--bw2);}
.rang1 {display: grid; justify-content: center; grid-template-columns: auto auto; gap: 20px;}
.nmpcards {display: flex;justify-content: space-around;}
.hero1 {background: var(--transp5);padding: 8px;border-radius: 10px;outline: 1px solid var(--neutralDark);display: flex;outline-offset: 2px;flex-direction: column;}
.listblock1 {background: var(--bw2);padding: 20px;border-radius: 5px;outline: 1px solid var(--transp6);outline-offset: 2px;animation: fadeIn 1s;text-align: justify;}
.glist {background: var(--gradient3);width: 385px;height: 140px;padding: 8px;border-radius: 10px;position: relative;margin-top: -48px;margin-left: 383px;}
.listblock2 {background: var(--bw2);padding: 30px 0px;border-radius: 5px;outline-offset: 2px;animation: fadeIn 1s;width: 375px;text-align: justify;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;line-height: 25px;height: 130px;margin-top: -3px;margin-left: -3px;}
classname {color: var(--textColorAccent);letter-spacing: -1px;font-family: var(--font1);font-size: 14px;text-transform: uppercase;margin-right: 10px;}
.mbcard {background: var(--bw2); border-radius: 5px; outline: 1px solid var(--bw4); display: flex; align-items: center; justify-content: space-evenly;}
.gmbav {background: var(--gradient3);padding: 5px;border-radius: 100%;}
.mbav {transition: 0.5s all ease-in-out; border-radius: 100%; object-fit: cover; height: 80px; width: 80px; border: 5px solid var(--bw2);}
.mbav:hover {filter: brightness(0.7);}
.mbdesc {border: 1px solid var(--transp8);text-align: justify;overflow: auto;background: var(--bw2);padding: 10px;border-radius: 5px;}
n1 {font-family: var(--titlefont2);text-transform: uppercase;font-size: 18px;color: var(--textColorAccent);}
a1 {font-family: var(--font1); text-transform: uppercase; letter-spacing: -1px; background: var(--gten); color: transparent; -webkit-background-clip: text; font-size: 18px;}
.onglettierlist {animation: fadeIn 1s;}
