.inner:has(.twitter), .post_message:has(.twitter) {
    padding: 0!important;
}

.twitter {
    display: grid;
    grid-template: 50px 1fr 50px / 270px 1fr;
}

.twileft {
    grid-row: 1/-1;
    border-right: 1px solid var(--transp3);
    padding: 10px;
    background: var(--bw2);
}

.twileft li {
    cursor: pointer;
    font-size: 1.3em;
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.twileft li.twibutton {
    margin-top: 10px;
    padding: .5em;
}

.twitop {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--transp3);
    background: var(--bw2);
}

.twitop li {
    position: relative;
    padding: 0 10px;
    height: 100%;
    display: grid;
    align-items: center;
    cursor: pointer;
}

.twitop li:first-of-type {
    font-weight: bold;
    color: var(--textColorAccent);
}

.twitop li:first-of-type:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--gradient3);
}

.twitter > div:not(.newtwi) {
    display: grid;
    grid-template: 1fr 40px auto / auto 1fr;
    padding: 10px;
}

.twitter > div > img {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    ; grid-row: 1/-1;
}

.twitter > div > span {
    color: color-mix(in srgb, currentColor 60%, transparent);
    padding: 15px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.twitter ul.twibuttons {
    display: flex;
    gap: 10px;
    border-top: 1px solid var(--transp3);
    padding: 20px 0;
    background: var(--gradient3);
    color: transparent;
    background-clip: text;
    cursor: pointer;
    margin-top: -10px;
}

.twitter .twibutton {
    background: var(--textColor);
    color: var(--bw2);
    border-radius: 50px;
    text-align: center;
    padding: 0 1em;
    font-weight: bold;
}

ul.twibuttons i.cp {
    font-size: 1.3em;
}

.twitter .newtwi {
    border-top: 1px solid var(--transp3);
    color: var(--co2);
    font-size: 1.1em;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.post:has(.post_date > a[href^="/t58-"]) .newinsta, 
.post:has(.post_date > a[href^="/t58p"]) .newinsta {
    margin: auto 0;
}

.post:has(.post_date > a[href^="/t58-"]) .newinsta .images, 
.post:has(.post_date > a[href^="/t58p"]) .newinsta .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post:has(.post_date > a[href^="/t58-"]) .newinsta .images > *, 
.post:has(.post_date > a[href^="/t58p"]) .newinsta .images > * {
    width: 30%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 5px;
    flex-grow: 1;
}

.post:has(.post_date > a[href^="/t58-"]) .instabuttons, 
.post:has(.post_date > a[href^="/t58p"]) .instabuttons {
    display: flex!important;
    gap: 95px!important;
}

.post:has(.post_date > a[href^="/t58-"]) .newinsta details, 
.post:has(.post_date > a[href^="/t58p"]) .newinsta details {
    position: relative;
    top: -30px;
    z-index: 10;
    margin-bottom: -30px;
}

.post:has(.post_date > a[href^="/t58-"]) .newinsta summary, 
.post:has(.post_date > a[href^="/t58p"]) .newinsta summary {
    height: 28px;
    display: flex;
}

.post:has(.post_date > a[href^="/t58-"]) .newinsta details summary:before, 
.post:has(.post_date > a[href^="/t58p"]) .newinsta details summary:before {
    display: none!important;
}

.post:has(.post_date > a[href^="/t58-"]) .newinsta details:open summary:after, 
.post:has(.post_date > a[href^="/t58p"]) .newinsta details:open summary:after {
    content: '\e9d6';
    font-family: 'cappuccicons';
    position: relative;
    top: 1px;
    left: 21px;
    font-size: 18px;
    background: var(--gradient3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.post:has(.post_date > a[href^="/t58-"]), 
.post:has(.post_date > a[href^="/t58p"]) {
    position: relative
}

.post:has(.post_date > a[href^="/t58-"]) .post_profile .post_avatar_cadre, 
.post:has(.post_date > a[href^="/t58p"]) .post_profile .post_avatar_cadre, 
.post:has(.post_date > a[href^="/t58-"]) .topbar:before, 
.post:has(.post_date > a[href^="/t58p"]) .topbar:before {
    display: none;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)), 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) {
    margin: 0 auto;
    margin-bottom: 20px;
    background: transparent;
    border: none;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .topbar, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .topbar {
    grid-column: 1/2;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .topbar2, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .topbar2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: fit-content;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .field-mods li .tooltip, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .field-mods li .tooltip {
    bottom: initial;
    top: 0;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .topbar .profile_tw, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .topbar .profile_tw {
    grid-column: 1/2;
    grid-row: 3/4;
    bottom: 4px;
    left: 10px;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_profile, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_profile {
    grid-row: 2/3;
    background: var(--transp9);
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_message, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_message {
    grid-row: 1/3;
    grid-column: 2/4;
    padding-top: 50px;
    background: var(--transp5);
    border: 5px solid var(--bw2);
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_details, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_details {
    grid-row: 1/2;
    grid-column: 2/4;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    padding-left: 15px;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .topbar, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .topbar, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_profile, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_profile {
    width: 270px;
    opacity: 0;
    transform: translateX(100px);
    transition: transform .5s ease, opacity .3s;
    background: var(--bw2);
    z-index: 10;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_message, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_message, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_details, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_details {
    transform: translateX(-100px);
    transition: transform .5s ease;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)):hover .topbar, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)):hover .topbar, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)):hover .post_profile, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)):hover .post_profile {
    opacity: 1;
    transform: translateX(0px);
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)):hover .post_message, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)):hover .post_message, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)):hover .post_details, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)):hover .post_details {
    transform: translateX(0px);
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_reactions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
    padding: 0 30px 30px 45px;
    background: var(--bw2);
    margin-top: -70px;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_reactions:before {
    content: '';
    grid-column: 1/3;
    border-top: 1px solid var(--transp3);
    width: calc(100% + 15px);
    margin-left: -15px;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_reactions:has(.fa_like_list:empty + .fa_dislike_list:empty), 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .post_reactions:has(.fa_like_list:empty + .fa_dislike_list:empty):before {
    display: none;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_like_list, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_dislike_list {
    position: relative;
    margin: 0 auto!important;
    outline: none;
    width: calc(100% - 20px) !important;
    text-align: left;
    background: var(--bw1);
    padding: 20px;
    padding-left: 25px;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_like_list:before, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_dislike_list:before, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_like_list:after, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_dislike_list:after {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: -15px;
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_like_list:after {
    background-image: url(red-heart_2764-fe0f.png);
    margin-top: 1px;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_dislike_list:after {
    background-image: url(loudly-crying-face_1f62d.png);
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_dislike_list {
    grid-column: 2/3;
}

.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_like_list:before, 
.post:has(.post_date > a[href^="/t58-"]):not(:has(.sujetadmin)) .fa_dislike_list:before {
    background: var(--bw1);
    border-radius: 50%;
    padding: 5px;
    margin-top: -5px;
    margin-left: -5px;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_reactions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
    padding: 0 30px 30px 45px;
    background: var(--bw2);
    margin-top: -70px;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_reactions:before {
    content: '';
    grid-column: 1/3;
    border-top: 1px solid var(--transp3);
    width: calc(100% + 15px);
    margin-left: -15px;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_reactions:has(.fa_like_list:empty + .fa_dislike_list:empty), 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .post_reactions:has(.fa_like_list:empty + .fa_dislike_list:empty):before {
    display: none;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_like_list, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_dislike_list {
    position: relative;
    margin: 0!important;
    outline: none;
    width: 100%!important;
    text-align: left;
    background: var(--bw1);
    padding: 20px;
    padding-left: 25px;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_like_list:before, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_dislike_list:before, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_like_list:after, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_dislike_list:after {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: -15px;
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_like_list:after {
    background-image: url(red-heart_2764-fe0f.png);
    margin-top: 1px;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_dislike_list:after {
    background-image: url(loudly-crying-face_1f62d.png);
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_dislike_list {
    grid-column: 2/3;
}

.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_like_list:before, 
.post:has(.post_date > a[href^="/t58p"]):not(:has(.sujetadmin)) .fa_dislike_list:before {
    background: var(--bw1);
    border-radius: 50%;
    padding: 5px;
    margin-top: -5px;
    margin-left: -5px;
}
