/* ===== 6. PAGE D'UN SUJET ========================================= */
/* ===== Template : viewtopic_body ================================== */

/* --- 6.1 PARTICIPANTS AU SUJET ------------------ */

/* Conteneur des participants */
.poster-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* Avatar du participant*/
.poster {
  display: grid;
  place-items: center;
  background: var(--poster-avatar);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-left: -8px;
  background-size: cover;
  background-position: center;
}

/* Nombre de participants */
.poster-count {
  margin-left: 8px;
}

.poster-more-list {
  display: none;
  /* Liste des participants supplémentaires cachée */
}

/* --- 6.2 POSTS DU SUJET ------------------------- */
.post_row {display: grid; grid-template: auto 1fr / auto 1fr; gap:var(--gap-l); margin-bottom: var(--gap-l);
  &:last-child {margin-bottom: 0;}}

#blog_comments + .page-actions.in_msgs {margin-top:var(--gap-l);}
.page-actions.in_msgs, .page-actions:has(+ [name="privmsg_list"]){background: var(--transp1);backdrop-filter: blur(5px);}
.page-actions.in_msgs h1.page-title{margin:0;}
.page-actions.in_msgs .separator, .privmsgs_all .page-actions .separator{margin:var(--gap) 0;}{margin:var(--gap) 0;}
.post_profile, .post_pro_top, .post_message{background: var(--transp1);border-radius:var(--rad);padding:var(--gap-l);position:relative;backdrop-filter: blur(5px);}

.post_profile{grid-row:1/-1;}
.post_avatar_container {background: linear-gradient( 135deg, var(--groupecolor), 10%, transparent 50%); padding: var(--gap); border-radius: var(--rad-s);}
.post_avatar{position: relative;overflow:clip;width:200px;height:320px;background: var(--transp5);border-radius: var(--rad-xs);}
.post_avatar img {border-radius: var(--rad-xs)}
.presence{display:none;}
.presence.online {position:absolute; top:var(--gap);left: var(--gap); display:block; font: 600 .65em var(--font);text-transform: uppercase; letter-spacing: .5px; padding: 1px 5px 0 5px; background:var(--transp1);}
.post_avatar_hover{position:absolute;top:0;left:0;background:var(--transp5);height:100%;width:100%;border-radius:var(--rad-xs);transform:translateY(100%);transition:transform .5s ease-in-out; display: grid; justify-items: center; align-content: center;}
.post_avatar_container:hover .post_avatar_hover{transform:translateY(0);}

.post_avatar_hover .user_field:not(.field-pseudo, .field-faceclaim, .field-credits){display:none;}
.post_avatar_hover .user_field{font:.85em var(--font);}
.post_avatar_hover .field_label, .post_pro_power .field_label{font-weight:550; color:var(--groupecolor);text-transform:uppercase;}

.post_rank{display:block;}
.post_prostats {display: grid;grid-template-columns: 1fr 1fr;gap: var(--gap);}
.post_rank, .post_prostats{margin: var(--gap);margin-top:0;}
.post_pro_msgs .user_field:not(.field-messages), .post_pro_msgs .field_label{display:none;}
.post_pro_wons .user_field:not(.field-points), .post_pro_wons .field_label{display:none;}
.post_pro_msgs .user_field, .post_pro_wons .user_field{font-weight:bold;color:var(--groupecolor);display:inline;}

.post_userinfo .user_field:not(.field-aesthetic, .field-fame, .field-trust-in-athena), .post_userinfo .field-aesthetic .field_label{display:none;}
.post_userinfo {border-top:1px solid var(--textColor-50);}
.post_userinfo .field-fame{margin-bottom:5px;}
.post_userinfo .field_label {text-transform:uppercase; font: .85em var(--stfont); padding-left:5px;}
.post_userinfo .statbar{margin-top:0;}

.post_pro_top{display:grid; grid-template-rows: 1fr auto 1fr;}
.post_pro_top > div {margin: 0 var(--gap);}
.post_pro_top .separator{margin: 5px;}
.post_pseudo {font:var(--normal-size) var(--titlefont2);text-transform:uppercase;}
.post_pro_power .user_field:not(.field-pouvoir){display:none;}
.post_pro_pro .user_field:not(.field-cw, .field-alias, .field-rank), .post_pro_pro .field_label {display:none;}
.post_pro_pro, .post_pro_mods .user_field {display:flex; gap:4px;align-items: center;}
.post_pro_pro .field-alias {font-weight:bold;text-transform:uppercase;}
.post_pro_pro .field-rank {text-transform:uppercase; font: 1.1em var(--stfont);}
.field-alias:has(+ .field-rank):after{content:'•';margin-left:4px;}
.post_pro_mods .user_field:not(.field-mods), .post_pro_mods .field_label{display:none}
.post_pro_mods .profile_field_list{display:flex;gap:var(--gap);}
.post_pro_mods .tooltip{display:none;position:absolute;top: anchor(--mod center); right: anchor(--mod right);width:max-content; background:color-mix(in srgb, transparent,var(--modrank)); padding: 2px 6px;border-radius:3px;font:500 .9em var(--font); text-transform:uppercase;}
.post_pro_mods li{height:100%;display:grid;place-items:center;anchor-scope:--mod;}
.post_pro_mods li i{border:1px solid color-mix(in srgb, transparent,var(--modrank)); padding:3px 6px; border-radius:3px;anchor-name:--mod;}
.post_pro_mods li:hover .tooltip{display:block;position-anchor: --mod;}
.cw_label {font: .9em var(--stfont);text-transform: uppercase;background: var(--textColor-50);display: block;padding: 3px 6px;border-radius: 3px; border: 1px solid var(--textColor-50);anchor-name: --suj_cw; cursor:pointer;}
.post_pro_pro .field-cw{display:none; position:absolute; position-anchor: --suj_cw; top: anchor(--suj_cw center); left: anchor(--suj_cw center); background:var(--textColor-50); backdrop-filter:blur(10px);padding:5px 8px; max-width:400px;}
.post_pro_pro .cw_label:hover + .field-cw{display:block;}

.post_pro_gif .user_field:not(.field-gif), .post_pro_gif .field_label{display:none;}
.post_pro_gif {position:absolute; top: 50%; left:50%; transform: translateX(-50%) translateY(-50%);width:60px; height:60px; border-radius:50%; display:grid;place-items:center;}
.post_pro_gif .user_field, .post_pro_gif .field_content, .post_pro_gif img{display:block;width:100%; height:100%; border-radius:50%;opacity: .9;filter: grayscale(1);}
.post_pro_gif .user_field, .post_pro_gif .field_content, .post_pro_gif img:before{display:block;width:100%; height:100%; border-radius:50%;background:var(--bw2)}
.post_pro_gif:before{content:'';position:absolute;width:200%;height:200%;border-radius:50%;background:radial-gradient(var(--groupecolor), transparent 50%); z-index:-1;filter: blur(10px);opacity: .8;}

.post_date a, .post_date time, .comment-author {font: .85em var(--font); text-transform:uppercase; padding:0 5px;}
.comment-author {display: none;align-items: center;gap: 4px;padding: 0 var(--gap);}
/*.comment-author {display: flex;}*/
.comment .post_pseudo{width:100%;text-align:center;display: block;}

/* Nombre de like*/
.rep-button .rep-nb {margin-left: 5px;font-size: var(--little-size);}
.rep-button.fa_liked, .rep-button.fa_disliked {background:var(--gradient-50);color:var(--noirnoir);}
.post_reactions {align-items: center;}
.post_reactions > p{text-transform:uppercase; font: 200 .85em var(--font);background:var(--textColor-50); border-radius:var(--rad); padding: 2px 15px;}

.blog_reactions{display:none}
.blog_reactions{justify-content:center;width: 90%; margin: 0 auto;}
.blog_reactions .fa_like_div{width: 100%;display:grid;grid-template-columns:1fr 1fr;gap:var(--gap-l)}
.blog_reactions .reaction_block{display:flex;align-items:center}
.blog_reactions .rep-button{float:left;border-radius:50%;display:grid;place-items:center;width:45px;height:45px;z-index: 1;}
.blog_reactions .rep-button img{width:120%;transition:all .5s ease-in-out}
.blog_reactions .rep-button[class$=liked]{background:var(--transp1)}
.blog_reactions .rep-button:hover img{transform:scale(1.2,1.2)}
.blog_reactions p[class$=like_list]{display:block!important;background:var(--transp1);height:70px;margin-left:-20px;padding:var(--gap-l) calc(var(--gap-l) * 1.5);width:100%; border-radius: var(--rad-s);
                                    text-transform: uppercase; font: .9em var(--stfont); color:color-mix(in srgb, currentColor 80%, transparent);}
.blog_reactions .reaction_block:has(+ .reaction_block .rep-button:hover) .rep-button img,.blog_reactions .reaction_block:has(+ .reaction_block .rep-button[class$=liked]) .rep-button:not([class$=liked]) img,
.blog_reactions .reaction_block:has(.rep-button:hover)+.reaction_block .rep-button img,.blog_reactions .reaction_block:has(.rep-button[class$=liked])+.reaction_block .rep-button:not([class$=liked]) img{filter:grayscale(1)}
.rep-button:hover img{filter:grayscale(0)!important}

/* Liens de contact (mp, fiche, liens, ...) */
.post_contact {display: flex;justify-content: center;gap: 5px;}

/* ··· CONTENU DU POST ··· */
.post_message {padding: 25px;}
.post_message_content{flex-grow: 1;padding:0 25px;margin-bottom: 25px;}
.comment-body {width: 100%;}

/* ··· REPONSE RAPIDE ··· */
/*supression de la mention "réponse rapide" */
.quickreply div.h3,.quickreply br {display: none;}
.quickreply {padding: var(--gap-l);background: var(--transp1);border-radius:var(--rad);}

/* --- 6.3 SONDAGES ------------------------------- */
/* --- Templates : viewtopic_poll_ballot - viewtopic_poll_body -- */

/* Conteneur du sondage */
.poll {background: var(--neutral);border-radius: 5px;margin-bottom: 10px;}

/* Entête du sondage : question et bouton de gestion */
.head_poll {
  padding: 10px;
  border-bottom: 1px solid var(--neutralDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Chaque choix du sondage */
.poll_choice {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-items: center;

  &>* {
    padding: 10px 20px;
    height: 100%;
  }
}

/* Texte de l'option */
.poll_option {
  border-right: 1px solid var(--neutralDark);
  justify-self: end;
}

.poll_send {
  margin-left: 220px;
  padding: 10px 20px;
  border-left: 1px solid var(--neutralDark);
}

/* Liste des voteurs (même structure que la liste des participants du sujet) */
.votes-users-list {
  justify-content: start;
  margin: 20px 0 0;
}

/* SUJETS ADMINS */
.post:has(.sujetadmin), .comment:has(.sujetadmin){grid-template: 1fr / 1fr;
  .post_profile, .post_pro_top{display:none;}
  .post_details .comment-author{display:flex;}
}

/* DAILY HEROES, INSTA, TWITTER */
.main_forum:has(.post_date a[href*="-dailyheroes"]):has(a.nav[href^="/f4-the-feed"]),
.main_forum:has(.post_date a[href*="-twitter-"]):has(a.nav[href^="/f4-the-feed"]),
.main_forum:has(a.nav[href^="/f8-instagram"]) {max-width:900px; padding:0; margin: 0 auto;
    .post_profile, .post_pro_top, .post_details .rep-button, .post_reactions{display:none;}
    .post_details > *{background:var(--transp1);}
    .post_message{background:transparent; padding:0;backdrop-filter:none;}
    .post_message_content{padding:0}
    .blog_reactions{display:flex;}
}

/* SMS */

/* INSTA, TWITTER */
.main_forum:has(.post_date a[href*="-twitter-"]):has(a.nav[href^="/f4-the-feed"]),
.main_forum:has(a.nav[href^="/f8-instagram"]){
  .newmodels:not(.sujetadmin, .shortprofile){max-width:none;}
  .post_details .comment-author{display:flex;}
  .post_row{grid-template: 1fr / 1fr;}
}
